<div class="main-container about">
	<section class="page-title page-title-2 image-bg overlay parallax">
    <div class="background-image-holder">
      <img alt="Background Image" class="background-image" src="<%= asset_path('prop1.jpg') %>">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="uppercase mb8">關於新生命靈糧堂</h2>
          <p class="lead mb0">熱愛 (Passion)・宣教 (Mission)・傳承 (Generation)・憐憫 (Compassion)</p>
        </div>
      </div>
    </div>
  </section>
  <section class='pt40 pb80 mb80'>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="uppercase mb40">我 們 的 核 心 價 值</h4>
                <div class="tabbed-content button-tabs vertical">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab-title">
                                <span>充滿熱情的教會</span>
                            </div>
                            <div class="tab-content">
                                <h5 class="uppercase">充滿熱情的教會</h5>
                                <hr>
                                <p>
                                  耶穌說最大的誡命是「全人的」愛神 ─ 這就是熱愛。神要祂的百姓火熱 ─ 神斥責不冷不熱的人。我們要看見新生命的成員不斷對為主大發熱心。所以，我們的成員必須學習由內心發出的熱愛，而不是依靠外在的活動。
                                </p>
                                <p>
                                  一個熱愛神的人必須也是熱愛神所關心的。神說祂不願意任何人滅亡，而是讓世人得到永生。為了這個緣故，祂將祂的獨生子賜給我們 ─ 這就顯明祂的熱愛了。所以，我們期待看見那些熱愛神的人也熱愛失喪的靈魂。
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title">
                                <span>代代相傳的教會</span>
                            </div>
                            <div class="tab-content">
                                <h5 class="uppercase">代代相傳的教會</h5>
                                <hr>
                                <p>
                                  大使命的中心就是「造就主的門徒」。耶穌在世上所做的就是如此。興起健壯的門徒是我們教會的重心。我們不注重活動和節目。所有的活動和節目必須幫助我們栽培健壯的門徒。我們期待每一位成員都能夠成為主的門徒。
                                </p>
                                <p>
                                  但是，統計顯示北美的華人教會流失了 95% 的下一代。我們不可讓這現象發生在我們的家庭和教會。我們必須有力的留住並栽培我們的下一代。
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title">
                                <span>滿有憐憫的教會</span>
                            </div>
                            <div class="tab-content">
                                <h5 class="uppercase">滿有憐憫的教會</h5>
                                <hr>
                                <p>
                                    耶穌說，要盡心的愛神，也要愛我們的鄰舍。祂也透過好撒瑪利亞人的比喻來描述何謂愛鄰舍。所以，我們的教會關心社會中有需要和受傷的人。
                                </p>
                                <p>
                                  憐憫是觀乎一個人的心。我們必須興起一群滿有憐憫的人，而不是讓關愛有需要的人成為教會的一個活動。
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title">
                                <span>注重宣教的教會</span>
                            </div>
                            <div class="tab-content">
                                <h5 class="uppercase">注重宣教的教會</h5>
                                <hr>
                                <p>
                                    耶穌復活之後和升天之前，他不斷的告訴祂的百姓不要忘記最大的使命 ─ 萬國、萬民、直到地極。所以祂的教會必須讓此使命成為教會中心。
                                </p>
                                <p>
                                    但是，今天幾乎所有的宣教資源都集中在那些已經接觸過福音的人與地。所以，對我們來說，大使命的焦點必須是那些未曾聽過福音的人與地。
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--end of button tabs-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  
  <section class="page-title page-title-2 image-bg overlay parallax">
    <div class="background-image-holder">
      <img alt="Background Image" class="background-image" src="<%= asset_path('cover10.jpg') %>" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="uppercase mb8"><i class='fa fa-quote-left sup'></i> Mission Statement - Who We Are <i class='fa fa-quote-right sub'></i></h2>
          <p class="lead mb0"></p>
        </div>
        
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
    
  <section class='pt40 pb0'>
    <div class='row'>
      <div class='container'>
        <div class="col-md-12">
          <h4 class="uppercase mb40">我 們 的 信 仰</h4>
          <ul class="lead" data-bullet="ti-heart">
            <li>我們相信聖經是神所默示的，是一切信仰與生活的根基。</li>
            <li>我們相信三位一體的真神。</li>
            <li>我們相信聖子耶穌本是與神同等，降世為人。因聖靈感孕，由童貞女馬利亞所生。</li>
            <li>我們相信在十字架上，耶穌捨命救贖世人的罪，因祂的刑罰使人得平安，因祂的鞭傷使人得醫治。</li>
            <li>我們相信耶穌第三天從死裡復活，升天，如今坐在全能父神的右邊，將來必再來審判世界。</li>
            <li>聖靈是一位內住於信徒的神。聖靈的充滿能帶給信徒過聖潔生活及事奉神的能力。</li>
            <li>我們相信人的得救是因信而稱義。在末日的審判時，信與不信的都要復活，信者得永生，不信者永遠滅亡。</li>
            <li>我們相信教會是基督的身體。從使徒時代直到如今，我們同屬一個身體，見證神的榮耀。</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class='pt40'>
    <div class='row'>
      <div class='container'>
        <hr>
        <div class="col-md-12">
          <h4 class="uppercase mb40">新 生 命 十 大 價 值</h4>
          <div class="col-sm-6">
              <ul class="lead" data-bullet="ti-plus">
                  <li><span class='value'>樂觀</span> - 我們對神是有積極的信心</li>
                  <li><span class='value'>喜樂</span> - 我們的教會是有趣的</li>
                  <li><span class='value'>激勵</span> - 我們不斷將人的好帶出來</li>
                  <li><span class='value'>憐憫</span> - 我們最重要的是完成大使命</li>
                  <li><span class='value'>決心</span> - 我們是有異象，有方向的</li>
              </ul>
          </div>
          <div class="col-sm-6">
              <ul class="lead" data-bullet="ti-plus">
                  <li><span class='value'>團結</span> - 我們是看重的是團隊事奉</li>
                  <li><span class='value'>坦誠</span> - 我們是表裡一致的人</li>
                  <li><span class='value'>創意</span> - 我們最重要的是不斷更新</li>
                  <li><span class='value'>熱忱</span> - 我們沒有旁觀者，都是參與者</li>
                  <li><span class='value'>信心</span> - 我們都是超自然人</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>