<div class="main-container">
	<section class="page-title page-title-2 image-bg overlay parallax">
    <div class="background-image-holder">
      <img alt="Background Image" class="background-image" src="<%= asset_path('prop1.jpg') %>">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="uppercase mb8">關於新生命靈糧堂</h2>
          <p class="lead mb0">熱愛 (Passion)・宣教 (Mission)・傳承 (Generation)・憐憫 (Compassion)</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <%= I18n.locale %><br>
    <%= I18n.available_locales.reject!{ |k| k == I18n.locale } %>
  </section>
</div>