<style>
  
#result-spinner {
  margin-top:50px;
  margin-bottom: 380px;
  margin-left:0;
  margin-right:0;
  display: block;
}

.result {
  margin-top:50px;
}

.highlight {
    background-color: yellow;
}

</style>
<section>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <%= form_tag(biblesearch_path, method: "post") do %>
        <% if @keyword.nil? %>
          <input name='keyword' type="text" placeholder="Type Here" />
        <% else %>
          <input name='keyword' id='keyword' value="<%= @keyword %>" type="text" placeholder="Type Here" />
        <% end %>
        <input type="submit" value="Search" onclick='search_submit()' />
      <% end %>
    </div>
  </div>
  
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <div class='text-center'>
        <div id="result-spinner"></div>
      </div>
      <div class='result'>
        
      </div>
      <% if !@results.nil? then %>
        <% @results.each do |result| %>
          <div><%= result.inspect %></div>
          <br><br><br>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<script>
  
  var search_submit = function(e) {
    console.log("submit");
    event.preventDefault();
    $('#result-spinner').fadeIn(1000);
    var keyword = $('input[name=keyword]').val();
    $.ajax({
      url: '<%= biblesearch_path %>'+'.json',
      type: 'POST',
      data: 'keyword='+ keyword,
      success: function(data) {
    	//called when successful
    	//$('#ajaxphp-results').html(data);
      	var html=''
      	var result_panel = $('.result');
      	if(data.verse_count > 0){
        	$.each(data.results, function(index, result){
        	  html+='<div class=\'book-section\' id=\'' + result.book.osis + '\'><div class=\'book-name\'>'+ result.book.name + '</div>';
        	  console.log(result);
        	  $.each(result.book.verses, function(index_verse, verse_result){
        	    html+='<div class=\'verse-section\'><span class=\'verse-number\'>' + verse_result.number + '</span> &nbsp;&nbsp;' + verse_result.unformatted +'</div>'
        	  })
        	  
        	  
        	  html += '</div>';
        	})
      	}
        console.log(html);
        result_panel.html(html);
        result_panel.highlight(keyword);
        $('#result-spinner').fadeOut(1000);
      },
      error: function(e) {
    	//called when there is an error
    	//console.log(e.message);
      }
    });
  }
  
  $('#result-spinner').fadeOut(400);
</script>