<style>
  
#result-spinner {
  margin-top:50px;
  margin-bottom: 380px;
  margin-left:0;
  margin-right:0;
  display: block;
}

.result {
  margin-top:50px;
}

.highlight {
    background-color: yellow;
}

</style>
<section ng-controller='bibleSearchCtrl'>
  <div class='row'>
    
    <div class='col-md-6 col-md-offset-3 text-center'>
      <%= form_tag(biblesearch_path, method: "post") do %>
        <% if @keyword.nil? %>
          <input name='keyword' type="text" ng-model='search.keyword' placeholder="Type Here" style='margin-top:30px;' onfocus="$(this).removeClass('error')"/>
        <% else %>
          <input name='keyword' id='keyword' ng-model='search.keyword' type="text" placeholder="Type Here" style='margin-top:30px;' onfocus="$(this).removeClass('error')"//>
        <% end %>
      
        <span>
          <div class="radio-option checked">
              <div class="inner"></div>
              <input type="radio" ng-model='search.version' name='version' value="cunpts">
          </div>
          <span>新標點和合本</span>
        </span>
        <span style='margin-left:50px;'>
          <div class="radio-option">
              <div class="inner"></div>
              <input type="radio" ng-model='search.version' name='version' value="rcuvts">
          </div>
          <span>和合本修訂版</span>
        </span>
        <!--<span>
          <div class="radio-option">
              <div class="inner"></div>
              <input type="radio" name="radio" value="radio1">
          </div>
          <span>Maybe</span>
        </span>-->
        <input type="submit" value="Search" prevent-submit ng-click='submit($event); ' />
        
      <% end %>
    </div>
  </div>
  
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <div class='text-center'>
        <div id="result-spinner" ng-show='submitting'></div>
      </div>
      <div class='result'>
        <div ng-if='results.book_count==0'>
          對不起，找到 {{results.book_count}} 筆資料
        </div>
        <div ng-if="results.book_count > 0">
          找到 {{results.verse_count}} 筆資料
          <div class='book-section' id='{{results.book.osis}}' ng-repeat='result in results.results'>
            <div class='book-name'> {{result.book.name}}</div>
            <div class='verse-section' ng-repeat='verse in result.book.verses'>
              <span class='verse-number'>{{verse.number}}</span> &nbsp;&nbsp;{{verse.unformatted}}
            </div>
          </div>
        </div>
      </div>
      <% if !@results.nil? then %>
        <% @results.each do |result| %>
          <div><%= result.inspect %></div>
          <br><br><br>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<script>
  nlccapp.directive('preventSubmit', function() {
    return {
        restrict: 'A',
        link: function(scope, elem, attrs) {
            if(attrs.ngClick || attrs.href === '' || attrs.href === '#'){
                elem.on('click', function(e){
                  e.preventDefault();
                });
            }
        }
   };
  });
  var search_submit = function(e) {
    event.preventDefault();
    
    var keyword = $('input[name=keyword]').val();
    if (keyword == '') {
      $('input[name=keyword]').addClass('error');
      $('input[name=keyword]').attr('placeholder', 'Please enter keyword')
      return;
    }
    //$('#result-spinner').fadeIn(1000);
    var version = $('input[name=version]:checked').val();
    var result_panel = $('.result');
  	result_panel.css('opacity', 0);
  	
  	
    $.ajax({
      url: '<%= biblesearch_path %>'+'.json',
      type: 'POST',
      data: 'keyword='+ keyword + '&version=' + version,
      success: function(data) {
      	var html=''
      	
      	
      	if(data.verse_count == 0){
      	  html='對不起，找到 ' + data.verse_count + ' 筆資料';
      	}
      	else if(data.verse_count > 0){
      	  html += '找到 ' + data.verse_count + ' 筆資料';
        	$.each(data.results, function(index, result){
        	  html+='<div class=\'book-section\' id=\'' + result.book.osis + '\'><div class=\'book-name\'>'+ result.book.name + '</div>';
        	  //console.log(result);
        	  $.each(result.book.verses, function(index_verse, verse_result){
        	    html+='<div class=\'verse-section\'><span class=\'verse-number\'>' + verse_result.number + '</span> &nbsp;&nbsp;' + verse_result.unformatted +'</div>'
        	  })
        	  html += '</div>';
        	})
      	}
        //console.log(html);
        
        result_panel.html(html);
        $('#result-spinner').fadeOut(500);
        result_panel.css('opacity', 1);
        result_panel.highlight(keyword);
        
      },
      error: function(e) {
    	//called when there is an error
    	//console.log(e.message);
      }
    });
  }

</script>