<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h4 class="uppercase mb16">細胞小組</h4>
          <p class="lead mb64">
              尋找一個小組並紮根
          </p>
      </div>
    </div>
    
    <div class="row masonry masonryFlyIn">
      <div class="col-sm-4 masonry-item project" data-filter="People">
        <div class="image-tile hover-tile text-center outer-title">
          <img alt="image" class="background-image" src="<%= asset_path('home17.jpg') %>" style='margin-bottom: 0px;'>
          <div class="hover-state">
            <a href="#">
              <h3 class="uppercase mb8">喜 樂</h3>
              <h6 class="uppercase">週三早上 10:00</h6>
            </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">喜 樂</h5>
            <span>時間 / 對象</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            簡介
          </p>
        </div>
          
      </div>
      <div class="col-sm-4 masonry-item project" data-filter="People">
        <div class="image-tile hover-tile text-center">
          <img alt="image" class="background-image" src="<%= asset_path('home20.jpg') %>">
          <div class="hover-state">
              <a href="#">
                  <h3 class="uppercase mb8">豐 盛</h3>
                  <h6 class="uppercase">時間 / 對象</h6>
              </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">豐 盛</h5>
            <span>時間 / 對象</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            簡介
          </p>
        </div>
          
      </div>
      <div class="col-sm-4 masonry-item project" data-filter="People">
        <div class="image-tile hover-tile text-center">
          <img alt="image" class="background-image" src="<%= asset_path('home14.jpg') %>">
          <div class="hover-state">
            <a href="#">
              <h3 class="uppercase mb8">以馬內利</h3>
              <h6 class="uppercase">時間 / 對象</h6>
            </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">以馬內利</h5>
            <span>時間 / 對象</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            簡介
          </p>
        </div>
          
      </div>
      <div class="col-sm-4 masonry-item project" data-filter="People">
        <div class="image-tile hover-tile text-center">
          <img alt="image" class="background-image" src="<%= asset_path('home18.jpg') %>">
          <div class="hover-state">
              <a href="#">
                  <h3 class="uppercase mb8">橋 樑</h3>
                  <h6 class="uppercase">時間 / 對象</h6>
              </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">橋 樑</h5>
            <span>時間 / 對象</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            簡介
          </p>
        </div>
        
      </div>
    </div>
  </div>
  
</section