<style>
  .stamp {
    position: absolute;
    
  }
</style>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h4 class="uppercase mb16">細胞小組</h4>
          <p class="lead mb64">
              尋找一個小組並紮根
          </p>
      </div>
    </div>
    <div class="row pb24">
      <div class="col-sm-12 text-center">
        <ul class="filters mb0">
        </ul>
      </div>
    </div>
    <div class="row masonry masonryFlyIn">
      <div class="col-sm-4 masonry-item project modal-container" data-filter="People">
        <div class="image-tile hover-tile text-center outer-title btn-modal">
          <img alt="image" class="background-image" style='margin-bottom: 0px;' src="//files.nlccoc.org/uploads/library/attachment/70/grace-group.jpg">
          <div class="hover-state">
              <a href="#">
                  <h3 class="uppercase mb8">恩 典</h3>
                  <h6 class="uppercase">週五晚上 7:30</h6>
              </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">恩 典</h5>
            <span>星期五晚 7:30</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            我們是一群敞開心彼此相愛的弟兄姐妹。我們一起笑，一起哭，一起吃，並一起經歷人生。我們教導聖經真理，分享見證，喜愛敬拜與禱告，是一個充滿神同在的小組。
          </p>
        </div>
        <div class="foundry_modal">
          <h4>恩 典 小 組
            <br /> 小組長：Debrah Hu  (胡凌迪)
          </h4>
          <hr>
          <p>
              聚會內容: 破冰,  話語分享, 敬拜禱告
          <p>
            1. 我們是一群敞開心彼此相愛的弟兄姐妹。我們一起笑，一起哭，一起吃，並一起經歷人生。
          </p>
          <p>
            2. 我們教導聖經真理，分享見證，喜愛敬拜與禱告，是一個充滿神同在的小組，也參與宣教事工。
          </p>
          <p>
            3.  相信凡進到恩典小組的人，都能被聖靈充滿，生命得著改變與更新，活出美好的命定。
          </p>
          <p>
            4. 在小組中也為有需要的人禱告。
          </p>
        </div>
          
      </div>
      
      <div class="col-sm-4 masonry-item project modal-container" data-filter="People">
        <div class="image-tile hover-tile text-center outer-title btn-modal">
          <img alt="image" class="background-image" style='margin-bottom: 0px;' src="//files.nlccoc.org/uploads/library/attachment/63/1234.jpg">
          <div class="hover-state">
              <a href="#">
                  <h3 class="uppercase mb8">喜 樂</h3>
                  <h6 class="uppercase">週三上午十點 / 教會</h6>
              </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">喜 樂</h5>
            <span>週三上午十點 / 教會</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            我們是一群年齡在65歲（95%）, 已經在職場上退休，卻在上帝的事工上永不退休的喜樂長青人，每週三上午十點在教會喜樂相聚。
          </p>
        </div>
        <div class="foundry_modal">
          <h4>喜 樂 小 組
            <br /> 小組長：楊肇成
          </h4>
          <hr>
          <p>
              我們是一群年齡在65歲（95%）, 已經在職場上退休，卻在上帝的事工上永不退休的喜樂長青人。
          </p>
          <p>每週三上午十點在教會喜樂相聚，共同敬拜我們的主，有榮耀上帝的生活見證，也有主日信息，還有喜、樂兩組每隔一週的餐飲服事。</p>
          <p>因為我們是有些年紀的人，所以有較多的時間可以關懷一些有需要的人，更渴望有興趣的人加入我們的小組，讓我們共同喜樂吧！</p>
          <p>電話：<a href='tel:+19498361837'>949.836.1837</a></p>
        </div>
      </div>
      <div class="col-sm-4 masonry-item project modal-container" data-filter="People">
        <div class="image-tile hover-tile text-center btn-modal">
          <img alt="image" class="background-image" src="https://files.nlccoc.org/uploads/library/attachment/238/cellgroup6.jpg">
          <div class="hover-state">
              <a href="#">
                  <h3 class="uppercase mb8">橋 樑</h3>
                  <h6 class="uppercase">星期五晚上 7:00 / 爾灣小組姊妹家</h6>
              </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">橋 樑</h5>
            <span>星期五晚上 7:00 時間 / 爾灣小組姊妹家</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            我們是一群歷練的姊妹，有著愛主的心與關懷姊妹的熱誠。我們參與「全新的你」事工的服侍，用真理建造彼此生命，互相勉勵，歡迎妳的加入。
          </p>
        </div>
        <div class="foundry_modal">
          <h4>橋 樑
            <br /> 小組長：Christina Liu
          </h4>
          <hr>
          <p>我們是一群歷練的姊妹，有著愛主的心與關懷姊妹的熱誠。</p>
          <p>我們參與「全新的你」事工的服侍，用真理建造彼此生命，互相勉勵。</p>
          <p>歡迎妳的加入</p>
          <p>電話：<a href='tel:+19494228768'>949.422.8768</a></p>
        </div>
      </div>
      <div class="col-sm-4 masonry-item project modal-container" data-filter="People">
        <div class="image-tile hover-tile text-center outer-title btn-modal">
          <img alt="image" class="background-image" style='margin-bottom: 0px;' src="//files.nlccoc.org/uploads/library/attachment/239/cellgroup7.jpg">
          <div class="hover-state">
            <a href="#">
              <h3 class="uppercase mb8">豐 盛</h3>
              <h6 class="uppercase">週五晚上 7:30 / Culver Plaza（舊大華，24小時健身旁）</h6>
            </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">豐 盛</h5>
            <span>週五晚上 7:30 / Culver Plaza（舊大華，24小時健身旁）</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            豐盛小組是一群由 - 中 ˴ 港 ˴ 台 ˴ 美，四方湧流愛主的組員組成，、聖靈滿滿 包羅萬象 一應俱全 應有盡有 無所不包 熱情洋溢 的小組。
          </p>
        </div>
        <div class="foundry_modal">
          <h4>豐 盛
            <br /> 小組長：Jennifer & Howard
          </h4>
          <p>豐盛小組是一群由 - 中 ˴ 港 ˴ 台 ˴ 美</p>
          <p>四方湧流愛主的組員組成</p>
          <p>聖靈滿滿 包羅萬象 一應俱全 應有盡有 無所不包 熱情洋溢 的小組</p>
          <p>小組全年每週五聚會</p>
          <p>地點在Culver Plaza（舊大華，24小時健身旁）</p>
          <p>15315 Culver Dr. 150，Irvine，Ca 92604</p>
          <p>若你想領受豐盛恩典祝福及人生</p>

          <p>歡迎加入豐盛小組 </p>
          <p>電話：請聯絡教會辦公室 <a href='tel:+17144863535'>714.863.535</a></p>
        </div>
      </div>
    </div>
  </div>
  
</section
