<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h4 class="uppercase mb16">細胞小組</h4>
          <p class="lead mb64">
              尋找一個小組並紮根
          </p>
      </div>
    </div>
    <div class="row pb24">
      <div class="col-sm-12 text-center">
        <ul class="filters mb0">
        </ul>
      </div>
    </div>
    <div class="row masonry masonryFlyIn">
      <!--<div class="col-sm-4 masonry-item project modal-container" data-filter="People">
        <div class="image-tile hover-tile text-center outer-title btn-modal">
          <img alt="image" class="background-image" src="<%=asset_path('home12.jpg')%>" style='margin-bottom: 0px;'>
          <div class="hover-state">
            <a href="#">
              <h3 class="uppercase mb8">沐 恩</h3>
              <h6 class="uppercase"></h6>
            </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">沐 恩</h5>
            <span>週日下午 1:30</span>
          </div>
          <p class="mb0 text-left" style='background-color: #fff;'>
            不用特地選時間，週日聚會結束便可以與沐恩小組一起敬拜神、讀經禱告，跟著王傳道與師母一起分享生命中的點滴! 還想什麼？這麼好的小組！快點加入！
          </p>
        </div>
        <div class="foundry_modal">
            <h4>沐 恩 小 組
              <br /> 小組長：John and Cathrine 傳道
            </h4>
            <hr>
            <p>
                由於許多會友,平日工作忙碌,或是住在非爾灣牧區.無法有固定的小組生活,因此成立沐恩小組,希望能群聚還沒有參與小組的會友及慕道友,讓大家能盡快適應小組生活模式.並藉著參與小組生活而有更緊密的教會生活.
            <p>
                平日雖然大家工作繁忙,但藉著群組的信息聯繫,因此小組在參與教會服事或特會也不缺席.
            </p>
            <p>
              雖然我們是個還未滿歲的小組,但是我們也常利用組員慶生或是聚餐來聯絡彼此的感情. 如果您也跟我們一樣-只有星期日才能前來教會,但又想擁有一群陪伴您的屬靈同伴 ,請不要猶豫沐恩小組絕對是您最佳的選擇!
            </p>
        </div>
      </div>-->
      <div class="col-sm-4 masonry-item project modal-container" data-filter="People">
        <div class="image-tile hover-tile text-center outer-title btn-modal">
          <img alt="image" class="background-image" style='margin-bottom: 0px;' src="//files.natecheng.me/uploads/library/attachment/70/grace-group.jpg">
          <div class="hover-state">
              <a href="#">
                  <h3 class="uppercase mb8">恩 典</h3>
                  <h6 class="uppercase">週五晚上 7:30</h6>
              </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">恩 典</h5>
            <span>星期五晚 7:30</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            我們是一群敞開心彼此相愛的弟兄姐妹。我們一起笑，一起哭，一起吃，並一起經歷人生。我們教導聖經真理，分享見證，喜愛敬拜與禱告，是一個充滿神同在的小組。
          </p>
        </div>
        <div class="foundry_modal">
          <h4>恩 典 小 組
            <br /> 小組長：Debrah Hu  (胡凌迪)
          </h4>
          <hr>
          <p>
              聚會內容: 破冰,  話語分享, 敬拜禱告
          <p>
            1. 我們是一群敞開心彼此相愛的弟兄姐妹。我們一起笑，一起哭，一起吃，並一起經歷人生。
          </p>
          <p>
            2. 我們教導聖經真理，分享見證，喜愛敬拜與禱告，是一個充滿神同在的小組，也參與宣教事工。
          </p>
          <p>
            3.  相信凡進到恩典小組的人，都能被聖靈充滿，生命得著改變與更新，活出美好的命定。
          </p>
          <p>
            4. 在小組中也為有需要的人禱告。
          </p>
        </div>
          
      </div>
      
      <div class="col-sm-4 masonry-item project modal-container" data-filter="People">
        <div class="image-tile hover-tile text-center outer-title btn-modal">
          <img alt="image" class="background-image" style='margin-bottom: 0px;' src="//files.natecheng.me/uploads/library/attachment/63/1234.jpg">
          <div class="hover-state">
              <a href="#">
                  <h3 class="uppercase mb8">喜 樂</h3>
                  <h6 class="uppercase">週三上午十點 / 教會</h6>
              </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">喜 樂</h5>
            <span>週三上午十點 / 教會</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            我們是一群年齡在65歲（95%）, 已經在職場上退休，卻在上帝的事工上永不退休的喜樂長青人，每週三上午十點在教會喜樂相聚。
          </p>
        </div>
        <div class="foundry_modal">
          <h4>喜 樂 小 組
            <br /> 小組長：楊肇成
          </h4>
          <hr>
          <p>
              我們是一群年齡在65歲（95%）, 已經在職場上退休，卻在上帝的事工上永不退休的喜樂長青人。
          </p>
          <p>每週三上午十點在教會喜樂相聚，共同敬拜我們的主，有榮耀上帝的生活見證，也有主日信息，還有喜、樂兩組每隔一週的餐飲服事。</p>
          <p>因為我們是有些年紀的人，所以有較多的時間可以關懷一些有需要的人，更渴望有興趣的人加入我們的小組，讓我們共同喜樂吧！</p>
          <p>電話：<a href='tel:+19498361837'>949.836.1837</a></p>
        </div>
      </div>
      <div class="col-sm-4 masonry-item project modal-container" data-filter="People">
        <div class="image-tile hover-tile text-center outer-title btn-modal">
          <img alt="image" class="background-image" style='margin-bottom: 0px;' src="//files.natecheng.me/uploads/library/attachment/78/withgod.jpg">
          <div class="hover-state">
              <a href="#">
                  <h3 class="uppercase mb8">神 同 在</h3>
                  <h6 class="uppercase">週五晚上 7:30 PM / 教會 M1 教室</h6>
              </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">神 同 在</h5>
            <span>週五晚上 7:30 PM / 教會 M1 教</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            神同在是唯一在教會固定聚集的細胞小組。我們一起敬拜讚美主，用真理建造彼此生命，互相勉勵扶持。歡迎任何尋找屬靈同伴的弟兄姊妹或慕道友來與我們一起經歷神同在的美好。
          </p>
        </div>
        <div class="foundry_modal">
          <h4>神 同 在
            <br /> 小組長：歐陽祝嚴 陳立真 Dan & Jean
          </h4>
          <hr>
          <p>神同在是唯一在教會固定聚集的細胞小組。我們一起敬拜讚美主，用真理建造彼此生命，互相勉勵扶持。</p>
          <p>名為’神同在’，所以時時領受上帝特別的恩寵，也經歷許多美好見證。這裡的氣氛輕鬆活潑、自由友善，還常有各式可口點心。</p>
          <p>歡迎任何尋找屬靈同伴的弟兄姊妹或慕道友來與我們一起經歷神同在的美好。</p>
          <p>電話：請聯絡教會辦公室 <a href='tel:+17144863535'>7144.863.535</a></p>
        </div>
      </div>
      <div class="col-sm-4 masonry-item project" data-filter="People">
        <div class="image-tile hover-tile text-center">
          <img alt="image" class="background-image" src="<%= asset_path('home12.jpg') %>">
          <div class="hover-state">
            <a href="#">
              <h3 class="uppercase mb8">以馬內利</h3>
              <h6 class="uppercase">時間 / 地點</h6>
            </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">以馬內利</h5>
            <span>時間 / 地點</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            暫無簡介
          </p>
        </div>
        <div class="foundry_modal">
          <h4>神 同 在
            <br /> 小組長：歐陽祝嚴 陳立真 Dan & Jean
          </h4>
          <hr>
          <p>神同在是唯一在教會固定聚集的細胞小組。我們一起敬拜讚美主，用真理建造彼此生命，互相勉勵扶持。</p>
          <p>名為’神同在’，所以時時領受上帝特別的恩寵，也經歷許多美好見證。這裡的氣氛輕鬆活潑、自由友善，還常有各式可口點心。</p>
          <p>歡迎任何尋找屬靈同伴的弟兄姊妹或慕道友來與我們一起經歷神同在的美好。</p>
          <p>電話：請聯絡教會辦公室 <a href='tel:+17144863535'>714.863.535</a></p>
        </div>
      </div>
      <div class="col-sm-4 masonry-item project" data-filter="People">
        <div class="image-tile hover-tile text-center">
          <img alt="image" class="background-image" src="<%= asset_path('home12.jpg') %>">
          <div class="hover-state">
              <a href="#">
                  <h3 class="uppercase mb8">橋 樑</h3>
                  <h6 class="uppercase">時間 / 地點</h6>
              </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">橋 樑</h5>
            <span>時間 / 地點</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            暫無簡介
          </p>
        </div>
        
      </div>
      <div class="col-sm-4 masonry-item project modal-container" data-filter="People">
        <div class="image-tile hover-tile text-center outer-title btn-modal">
          <img alt="image" class="background-image" style='margin-bottom: 0px;' src="	//files.natecheng.me/uploads/library/attachment/144/banner.jpg">
          <div class="hover-state">
            <a href="#">
              <h3 class="uppercase mb8">BANNER</h3>
              <h6 class="uppercase">週五晚上 7:30 / Irvine West Park</h6>
            </a>
          </div>
          <div class="title mb16" style='background-color: #fff; margin-bottom: 0px; padding:bottom: 12px; padding-top: 12px;'>
            <h5 class="uppercase mb0">BANNER</h5>
            <span>週五晚上 7:30 / Irvine West Park</span>
          </div>
          <p class="mb0" style='background-color: #fff;'>
            Banner小組是聚會在Irvine West Park！Alex & Maggie家中，我們是個充滿活潑且很有朝氣的小組！
            我們的成員幾乎是家庭為主，我們不定時會利用周五小組聚會前Potluck來聯絡彼此的感情。
            
          </p>
        </div>
        <div class="foundry_modal">
          <h4>BANNER
            <br /> 小組長：Alex & Maggie
          </h4>
          <p>Banner小組是聚會在Irvine West Park！Alex & Maggie家中，我們是個充滿活潑且很有朝氣的小組！</p>
          <p>我們的成員幾乎是家庭為主，我們不定時會利用周五小組聚會前Potluck來聯絡彼此的感情。</p>
          <p>我們小組是從人人皆可分享的破冰話題開始，讓組員在輕鬆的氣氛中，藉著交談歡笑使大家的心靈契合之後，才同心進入敬拜讚美，將心靈提昇來到神的面前，這時我們有聖經的話語,讓我們活出生命的見證，最後我們有代禱及會後的分享,讓彼此更能了解,有更多的交流！</p>

          <p>雖然我們是個剛成立的小組,但我們充滿生命活力及熱情！</p>
          <p>希望還沒有參與小組的會友及慕道友們,非常歡迎加入我們Banner小組！謝謝</p>
          <p>電話：請聯絡教會辦公室 <a href='tel:+16262033129'>626.203.3129</a></p>
        </div>
      </div>
    </div>
  </div>
  
</section