<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h4 class="uppercase mb16">兒 童 主 日</h4>
          <p class="lead mb64">
              讓孩子在神國度中成長
          </p>
      </div>
    </div>
    
    <div class="row mb64 mb-xs-0">
      <div class="col-sm-6">
        <ul class="lead" data-bullet="ti-arrow-right">
          <li><%= link_to children_prayer_path do%>如何為孩子禱告<% end %></li>
        </ul>
      </div>
    </div>
  </div>
  
</section