<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h4 class="uppercase mb16">兒 童 主 日</h4>
          <p class="lead mb64">
              讓孩子在神國度中成長
          </p>
      </div>
    </div>
    
  </div>
  
</section