<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb16">宣 教 奉 獻</h4>
        <p class="lead mb64">
            宣 教 奉 獻 小 標 題
        </p>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
        <div class="progress-bars">
          <div class="progress progress-1">
            <div class="progress-bar" data-progress="24">
              <span class="title">奉獻已達 $18,236</span>
            </div>
          </div>
          <!--end of progress bar-->
        </div>
        <!--end of bars holder-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>