<style>
.social-icon i {
	line-height: 28px;		
}
</style>
<section>
  <div class='container'>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3 class="uppercase mb40">牧 者 團 隊</h3>
        </div>
    </div>
    <div class='row fluid'>
      <div class='col-md-3 col-sm-3 masonry-item col-xs-6 modal-container'>
        <div class="team">
					<div class="team-image btn-modal hover-tile">
						<img src="https://files.nlccoc.org/uploads/library/attachment/233/pasterchen.jpg" alt="陳正榮 Andrew">
						<div class="hover-state text-center v-align-transform" style='top:50%; cursor: pointer'>
              <h1><i class="ti-search"></i></h1>
            </div>
					</div>
					<div class="team-desc text-center">
						<div class="team-title">
							<h4><div>陳正榮 Andrew 牧師 & </div> <div>陳鳳梅 Becky 師母 </div> </h4><span>主任牧師</span>
						</div>
						<a href="https://www.facebook.com/profile.php?id=100009255511307" class="social-icon inline-block si-small si-light si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
					</div>
				</div>
				<div class="foundry_modal">
          <h4>陳 政 榮 牧 師
          </h4>
          <hr>
          <p>
              陳正榮牧師於1959年出生於台灣南投水里鄉，七歲隨著父母接觸福音去教會，十七歲重生得救受洗，二十歲清楚神的呼召成為傳道人，至今事奉主已近三十七年。曾任神學院院長，於公元二千年與同工開拓了新生命靈糧堂，現任北美新生命靈糧堂主任牧師。
					</p>
					<p>
陳牧師是一位充滿熱情創意的牧者，其証道的風格與其他傳道人有很大的不同，加上對佈道的熱忱，信息經常能激勵人心。同時陳牧師對教會領袖的培育有深切的負擔，特別是對北美華人下一代教會領袖的培植更是迫切，期待能看見天國文化的傳承能一代一代的傳下去，甚願教會能彰顯天國的榮美。<p>
              平日雖然大家工作繁忙,但藉著群組的信息聯繫,因此小組在參與教會服事或特會也不缺席.
          </p>
        </div>
      </div>
      <div class='col-md-3 col-sm-3 masonry-item col-xs-6'>
        <div class="team">
							<div class="team-image">
								<img src="https://files.nlccoc.org/uploads/library/attachment/279/pastoredwin.jpg" alt="Pastor Edwin">
							</div>
							<div class="team-desc text-center">
								<div class="team-title"><h4><div>Edwin 牧師 & 師母</div></h4><div>&nbsp;</div><span>La Verne 區牧</span></div>
								<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
									<i class="icon-email3"></i>
									<i class="icon-email3"></i>
								</a>
								<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>
							</div>
						</div>
      </div>
      <div class='col-md-3 col-sm-3 masonry-item col-xs-6'>
        <div class="team">
							<div class="team-image">
								<img src="<%=asset_path('pastors/charlie_n_theresa.jpg') %>" alt="Pastor Charlie & Theresa">
							</div>
							<div class="team-desc text-center">
								<div class="team-title"><h4><div>Charlie & Teresa Yang 傳道 </div></h4><span>Irvine 區牧</span></div>
								<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
									<i class="icon-email3"></i>
									<i class="icon-email3"></i>
								</a>
								<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>
							</div>
						</div>
      </div>
      <div class='col-md-3 col-sm-3 masonry-item col-xs-6'>
        <div class="team">
					<div class="team-image">
						<img src="<%=asset_path('pastors/joseph.jpg') %>" alt="Pastor Joseph">
					</div>
					<div class="team-desc text-center">
						<div class="team-title"><h4><div>Joseph & Lilian Lo 牧師</div> <div>&nbsp;&nbsp;&nbsp;</div></h4><span>行政治理</span></div>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
					</div>
				</div>

      </div>
      <div class='col-md-3 col-sm-3 masonry-item col-xs-6 modal-container'>
        <div class="team">
					<div class="team-image btn-modal hover-tile">
						<img src="<%=asset_path('pastors/cat_and_john.jpg') %>" alt="John & Catherine 傳道">
						<div class="hover-state text-center v-align-transform" style='top:50%; cursor: pointer'>
              <h1><i class="ti-search"></i></h1>
            </div>
					</div>
					<div class="team-desc text-center">
						<div class="team-title"><h4><div>John & Catherine Wang 傳道</div></h4><span>事工發展</span></div>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
					</div>
					<div class="foundry_modal">
	          <h4>王 建 興 傳 道
	          </h4>
	          <hr>
	          <p>
	              王建興傳道於1956年出生於台灣台北松山。 1993年受洗歸主，1999年全時間接受洛杉磯小組教會事奉訓練學院裝備，在小組教會帶職服事至今, 參與傳統教會轉型成小組教會，目前和妻子一起在爾灣新生命靈糧堂負責教會事工發展。
						</p>
	        </div>
				</div>
      </div>
      <div class='col-md-3 col-sm-3 masonry-item col-xs-6 modal-container'>
        <div class="team">
					<div class="team-image btn-modal hover-tile">
						<img src="https://files.nlccoc.org/uploads/library/attachment/234/moses.jpg" alt="John & Catherine 傳道">
						<div class="hover-state text-center v-align-transform" style='top:50%; cursor: pointer'>
              <h1><i class="ti-search"></i></h1>
            </div>
					</div>
					<div class="team-desc text-center">
						<div class="team-title"><h4><div>Moses & Stephanie 傳道</div><div>&nbsp;&nbsp;&nbsp;</div></h4><span>青年牧區 區長</span></div>
						<a href="https://www.facebook.com/moses.chen.56" class="social-icon inline-block si-small si-light si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
					</div>
					<div class="foundry_modal">
	          <h4>Moses & Stephanie 傳道
	          </h4>
	          <hr>
	          <p>
	              
						</p>
	        </div>
				</div>
      </div>
      <div class='col-md-3 col-sm-3 masonry-item col-xs-6 modal-container'>
        <div class="team">
					<div class="team-image btn-modal hover-tile">
						<img src="https://files.nlccoc.org/uploads/library/attachment/235/juliescott.jpg" alt="John & Catherine 傳道">
						<div class="hover-state text-center v-align-transform" style='top:50%; cursor: pointer'>
              <h1><i class="ti-search"></i></h1>
            </div>
					</div>
					<div class="team-desc text-center">
						<div class="team-title"><h4><div>Julie & Scott</div><div>&nbsp;&nbsp;&nbsp;</div></h4><span>區長</span></div>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
					</div>
					<div class="foundry_modal">
	          <h4>Julie & Scott
	          </h4>
	          <hr>
	          <p>
	              
						</p>
	        </div>
				</div>
      </div>
    </div>
  </div>
</section>