<section>
  <div class='container'>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3 class="uppercase mb40">牧 者 團 隊</h3>
        </div>
    </div>
    <div class='row fluid'>
      <div class='col-md-3 col-sm-3 masonry-item col-xs-6'>
        <div class="team">
					<div class="team-image">
						<img src="<%=asset_path('pastors/andrew_chen.jpg') %>" alt="陳正榮 Andrew">
					</div>
					<div class="team-desc text-center">
						<div class="team-title"><h4>陳正榮 Andrew</h4><span>主任牧師</span></div>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
					</div>
				</div>
      </div>
      <div class='col-md-3 col-sm-3 masonry-item col-xs-6'>
        <div class="team">
							<div class="team-image">
								<img src="<%=asset_path('pastors/charlie_n_theresa.jpg') %>" alt="Pastor Charlie & Theresa">
							</div>
							<div class="team-desc text-center">
								<div class="team-title"><h4>Charlie & Theresa 牧師</h4><span>Irvine 區牧</span></div>
								<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
									<i class="icon-email3"></i>
									<i class="icon-email3"></i>
								</a>
								<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>
							</div>
						</div>
      </div>
      <div class='col-md-3 col-sm-3 masonry-item col-xs-6'>
        <div class="team">
					<div class="team-image">
						<img src="<%=asset_path('pastors/joseph.jpg') %>" alt="Pastor Joseph">
					</div>
					<div class="team-desc text-center">
						<div class="team-title"><h4>Joseph & Lilian 牧師</h4><span>行政治理</span></div>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
					</div>
				</div>

      </div>
      <div class='col-md-3 col-sm-3 masonry-item col-xs-6'>
        <div class="team">
					<div class="team-image">
						<img src="<%=asset_path('pastors/cat_and_john.jpg') %>" alt="Mary Jane">
					</div>
					<div class="team-desc text-center">
						<div class="team-title"><h4>John & Catherine 傳道</h4><span>事工發展</span></div>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
					</div>
				</div>
      </div>
    </div>
  </div>
</section>