<div class="main-container">
  <section class='pb8'>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="uppercase mb16">訊息教導</h3>
          <!--<p class="lead mb64">
              
          </p>-->
        </div>
      </div></div>
  </section>
  <section>
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                <%= link_to sundaysermon_path do %>
                  <div class="feature feature-1 boxed">
                      <div class="text-center">
                          <i class="ti-pulse icon"></i>
                          <h4>主日訊息
                              <br class="hidden-sm" /></h4>
                      </div>
                      <p style='color: #666;'></p>
                  </div>
                <% end %>
                  <!--end of feature-->
              </div>
              <div class="col-sm-6">
                  <div class="feature feature-1 boxed">
                      <div class="text-center">
                          <i class="ti-dashboard icon"></i>
                          <h4>裝備課程
                              <br class="hidden-sm" /> </h4>
                      </div>
                      <p>
                      </p>
                  </div>
                  <!--end of feature-->
              </div>
              <div class="col-sm-6">
                <%= link_to rolcc_feeds_path(:locale => I18n.locale) do %>
                  <div class="feature feature-1 boxed">
                      <div class="text-center">
                          <i class="ti-layers icon"></i>
                          <h4>每日靈修
                              <br class="hidden-sm" /></h4>
                      </div>
                      <p style='color: #666;'>
                        
                      </p>
                  </div>
                <% end %>
                  <!--end of feature-->
              </div>
              <div class="col-sm-6">
                  <div class="feature feature-1 boxed">
                      <div class="text-center">
                          <i class="ti-package icon"></i>
                          <h4>靈糧特會
                              <br class="hidden-sm" /> </h4>
                      </div>
                      <p></p>
                  </div>
                  <!--end of feature-->
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
</div>