<div class="main-container">
		<section class="pt120 pb120 image-bg overlay">
		        <div class="background-image-holder">
		            <img alt="Background" class="background-image" src="<%= asset_path('giveheart.jpg') %>">
		        </div>
		        <div class="container">
		            <div class="row v-align-children">
		                <div class="col-sm-8 mb-xs-80">
		                    <h2 class="mb16">Tithing Is More Than Giving
		                        <br class="hidden-sm"> </h2>
		                    <h6 class="uppercase mb32">The Bible says that tithing is a reminder that God is the supplier of everything. It teaches us to always put God first in our lives.</h6>
		                    <a class="btn btn-filled btn-white btn-lg mb0" href="#">Give Yout Tithe</a>
		                </div>
		                <div class="col-sm-4 text-center text-left-xs">
		                     <div class="modal-container">
		                        <div class="play-button btn-modal large inline"></div>
		                        <div class="foundry_modal no-bg">
		                            <iframe data-provider="vimeo" data-video-id="25737856" data-autoplay="1" allowfullscreen="allowfullscreen" src=""></iframe>
		                        </div>
		                    </div>
		                    
		                </div>
		            </div>
		            
		        </div>
		        
		    </section></div>