<section class='fullscreen'>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h4 class="uppercase mb16">請加入新生命靈糧堂的 Wechat 官方帳號</h4>
          <p class="lead mb64">
            <img class='wechat-qr' src='//files.natecheng.me/uploads/library/attachment/71/wechat-qrcode.jpg' />
          </p>
      </div>
    </div>
    
  </div>
  
</section