<% content_for :laverne_navbar do %>
      <%= render 'shared/main/header_laverne' %>
<% end %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3>新生命靈糧堂 - 拉文 | New Life Christian Center, La Verne, CA</h3>
                <p class="lead">2990 Damien Ave, La Verne, CA 91750</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container sect-about pt40">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3>聚會時間</h3>
                <div class="mb40">
                        <p class="lead">中文堂主日崇拜: 星期日下午1:00PM-2:45PM</p>
                        <p class="lead">成人主日學 星期日上午10:50AM-11:50AM</p>
                        <p class="lead">兒童主日學 星期日下午1:10PM-2:30PM</p>
                </div>
                <h3>聯絡我們</h3>
                <div class="mb40">
                        <p class="lead">教會電話：+ (1) -949-955- 9077 / 傳真：+ (1) –(949)955-9078</p>
                        <p class="lead">地址： 2990 Damien Ave, La Verne, CA 91750</p>
                        <!--<p class="lead">Email: <a href="mailto:firstword@gmail.com">firstword@gmail.com</a></p>-->
                        <!--<p class="lead">Facebook:<a href="https://www.facebook.com/NLCCLaVerne/" target="_blank">https://www.facebook.com/NLCCLaVerne/</a></p>-->
                </div>
                <ul class='list-inline social-list mb40 list-inline-1'>
          <li>
            <a href="https://www.facebook.com/NLCCLaVerne/" class="social-icon si-colored si-facebook" target="_blank">
            	<i class="icon-facebook" style='line-height: 38px;'></i>
            	<i class="icon-facebook" style='line-height: 38px;'></i>
            </a> 
          </li>
          <li>
            <a href="mailto:firstword@gmail.com" class="social-icon si-colored si-email3">
            	<i class="icon-email3" style='line-height: 38px;'></i>
            	<i class="icon-email3" style='line-height: 38px;'></i>
            </a>
          </li>
        </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container sect-about pt40">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3>我們的教會</h3>
                <p class="lead mb40">2012年4月王春光牧師(Pastor John Wang)在退休前，將一群愛主的弟兄姊妹交给陳正榮牧師加入「新生命靈糧堂」的大家庭，
                開始了在南加州東區周邊地區的事工。我們的弟兄姊妹來自於La Verne、Claremont、Upland、Chino、Chino Hills、Pomona、Ontario、Fontana...一帶， 
                歡迎您一同加入! 期待我們一起以敬拜讚美、聖靈更新、福音宣教、小組教會來服事神和服事周圍的人群。
                </p>
                <h3>教會的異象與使命</h3>
                <p class="lead">我們的異象是要建造一個充滿熱愛，代代相傳，滿有憐憫，注重宣教的教會</p>
                <p class="lead">追求真道、敬拜禱告、建立活潑的小組</p>
                <p class="lead">宣教事工: Mary's Kitchen, Tijuana红燈區的短宣，願神繼續祝福我們，使我們成為深所使用的器皿</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container sect-about pt40">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3>認識牧者</h3>
                <h4>黃耀基 牧師/ Pastor Edwin Wong</h4>
                <p class="lead">黄耀基牧師出生於新加坡，1993年與林智嬌師母结婚後來美求學，育有一子。</p>
                <p class="lead">1997年ASU電機系碩士畢業，2007年在金門浸信會神學院修畢神學研究碩士學位。</p>
                <p class="lead">喜愛閱讀、騎單車及步行。</p>
                <p class="lead">1978年重生得救，並且感受神的呼召；往後繼續在不同教會學習服事。於公元二千年起在華人教會開始以普通話服事和教導。懷著負擔幫助信徒更深認識主及更愛主。</p>
                <p class="lead">主要的心願是願神的國降臨，願祂的旨意行在地上如同行在天上。但願此生為主所用，為著祂的國和祂的旨意，全力以赴。</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container sect-about pt40">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3>講道錄影 / 造就課程</h3>
            </div>
            <div>
                <h4>NLCC La Verne頻道</h4>
                 <div class="embed-responsive embed-responsive-16by9">
			        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/aaHAG40E7oM" frameborder="0" allowfullscreen></iframe>
			    </div>
			    <h5>日期:  影片連結   週報下載</h5>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container sect-about pt40">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3>活動消息</h3>
                <h4>消息宣布</h4>
                <h4>活動紀錄</h4>
            </div>
        </div>
    </div>
</section>