<% content_for :laverne_navbar do %>
  <%= render 'shared/main/header_laverne_page' %>
<% end %>
<section class='last'>
    <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h4 class="uppercase mb16">影 音</h4>
            <p class="lead mb64">
                每週主日影音
            </p>
          </div>
          <% @mvideos_lv_all.each do |video| %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                 <div class='ipost'>
                      <div class="entry-image">
      					    <iframe class="center-block img-responsive" src="//www.youtube.com/embed/<%=video.youtubeID%>" frameborder="0" allowfullscreen></iframe>
      				  </div>
                      <div class="entry-title">
    						<h3><a href="#"><%= video.title %></a></h3>
    				  </div>
    					<ul class="entry-meta clearfix">
    						<li><i class="icon-calendar3"></i><%= video.date %></li>
    						<!--<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>-->
    						<li><a href="#"><i class="icon-film"></i></a></li>
    					</ul>
    			 </div>
              </div>
          <% end %>
        </div>
    </div>
</section>
