<footer class="footer last bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img alt="Logo" class="logo" src="<%= asset_path('logo-light.png') %>" />
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">網站導覽</h6>
          <hr>
          <ul class="link-list recent-posts">
            <li>
              <a href="#">Truly my soul waiteth upon God: ...</a>
              <span class="date">Psalm 
                  <span class="number">62, 1</span>
              </span>
            </li>
            <li>
              <a href="#">Immediately Jesus made the disciples get into ... </a>
              <span class="date">Matthew 
                  <span class="number">14, 22 - 23</span>
              </span>
            </li>
            <li>
              <a href="#">For God so loved the world that he gave ...</a>
              <span class="date">John
                  <span class="number">3, 16</span>
              </span>
            </li>
          </ul>
      </div>
      <!--end of widget-->
  </div>
      <div class="col-md-6 col-sm-12">
        <div class="link-list widget">
          <h6 class="title">每 日 靈 修</h6>
          <hr>
          <%= link_to rolcc_feed_path(@rolcc_feed, :locale => I18n.locale) do %>
            <%= @rolcc_feed.verse.text %> ~ <span class='verse_highlight'><%= @rolcc_feed.book %></span>
          <% end %>
        </div>
      <!--end of widget-->
      </div>
      <!--<div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Instagram</h6>
          <hr>
          <div class="instafeed" data-user-name="mrareweb">
              <ul></ul>
          </div>
        </div>
      </div>-->
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-sm-6" style='padding-left:5%'>
        <span class="sub">&copy; Copyright 2017 New Life Christian Center.  All Rights Reserved.</span>
      </div>
      <div class="col-sm-6 text-right">
        <ul class="list-inline social-list">
            <li>
                <a href="#">
                    <i class="ti-twitter-alt"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="ti-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="ti-dribbble"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="ti-vimeo-alt"></i>
                </a>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <!--end of container-->
  <!--<a class="btn btn-dark btn-sm fade-half back-to-top inner-link" href="#top">Top</a>-->
</footer>