<!--
<footer class="footer-1">
</footer>
-->
<div class="row bg-dark">
  <div class="col-sm-6" style='padding-left:5%'>
    <span class="sub">&copy; Copyright 2017 New Life Christian Center.  All Rights Reserved.</span>
  </div>
</div>
<%# javascript_include_tag 'parallax', 'data-turbolinks-track' => false %>