
<section class="cover fullscreen image-slider slider-all-controls controls-inside slider-arrow-controls parallax">
  <ul class="slides">
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image lazy" src="//files.natecheng.me/uploads/library/attachment/283/bg2-dd4b16c5a4fa2dcdab70242cde2c1b65f850d9b31ba71cc77220aaa57e0744a3.jpg" />
      </div>
      <div class="container v-align-transform" style='height: 387px;'>
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb16 large uppercase banner-title nlcc-title"><%= t('nlcc') %></h2>
            <h5 class="uppercase mb32 mt64 nlcc-sub-title"><%= t('connect') %></h5>
            <div class="text-center modal-container">
              <a class="btn btn-white btn-lg mb32 mt24 inner-link" href="#connect">加入一個適合你的小組</a> <a class="btn btn-white btn-lg mb32 mt24 btn-modal inline" href="#">新生命靈糧堂走過的路<i class="fa fa-play" style='margin-left: 10px'></i></a> 
              <div class="foundry_modal no-bg" style='width: 50%;height: 60%;'>
                <iframe data-provider="youtube" data-video-id="3UF2tYdK_Vk" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
              </div>
              <br><br><br><br><br><br>

              <!--<ul class="list-inline social-list mb40 mt64">
                <li>
                  <a href="#">
                    <i class="ti-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-soundcloud"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-vimeo-alt"></i>
                  </a>
                </li>
              </ul>-->
              <div class="text-center hidden-xs mb0" style='height:50px;'>
                <a class='inner-link' href='#whoweare'><div class="mouse"><span></span></div></a>
                <!--<a class='inner-link one-page-arrow' href='#whoweare'><i class="icon-angle-down infinite animated fadeInDown"></i></a>-->
              </div>
            </div>
            
            
          </div>
          
            <!--<div class="modal-container mb0">
                <div class="play-button btn-modal inline large mt-xs-0"></div>
                <div class="foundry_modal no-bg">
                    <iframe data-provider="vimeo" data-video-id="25737856" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>-->
            <!--end of modal video-->
          </div>
        
      </div>
    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.natecheng.me/uploads/library/attachment/284/equip_bg.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb16 mb-xs-16 large banner-title" style='font-size:48px;'>
              <div>裝備課程：</div>哥林多前書研究</h1>
            <h6 class="uppercase lead">9/17 - 11/26 每周日上午 9:50 - 10:50</h6>
            <h6 class="uppercase lead">教會到底要怎麼<span class='afupop05'>亂</span><span class='jf-handyblack-w6' style='font-style: italic; color: #f2784b !important;'><b>RUN</b></span> </h6>
            <p class="lead mb40">
              
            </p>
            <p>談到教會的建造時，會想到哥林多前書的人大概不多，畢竟，哥林多教會可是聖經中數一數二的「精彩」教會，隨處可見各式各樣令人嘆息的錯謬與混亂，然而正因哥林多信徒徹底凸顯了教會生活當中可能產生的問題，反而讓我們有機會看到使徒保羅解決問題與建立教會的牧養功力；保羅在這卷書信中，闡明了小組牧者精神的典範，幫助你調準牧養的焦點，教會生活失去信心，本書也將幫助你重新找到「不絕望」的理由，進而活出神兒女應有的榮耀</p>
          </div>
        </div>
    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="//files.natecheng.me/uploads/library/attachment/261/bg55.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb16 mb-xs-16 large banner-title" style='font-size:48px;'>
              <div>愛鄰 EQ 情商講堂：</div>高 EQ 的說話方式</h1>
            <h6 class="uppercase lead">11/18 週六 早上 10:00</h6>
            <p class="lead mb40">
              
            </p>
            <p>報名單堂：第一人 15 元   第二第三人均為 12 元，第四第五人以上皆為 10 元，沒有人數上限！</p>
            <%= link_to event_path(:id => 22, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="https://goo.gl/forms/Bxf2cuRhB23YC6oF2">報名參加</a>
          </div>
        </div>
          
      </div>
        
    </li>
    
    
  </ul>
</section>