<section class="cover fullscreen image-slider slider-all-controls controls-inside slider-arrow-controls parallax">
  <ul class="slides">
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="<%= asset_path('bg2.jpg') %>">
      </div>
      <div class="container v-align-transform" style='height: 387px;'>
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb16 large uppercase banner-title nlcc-title"><%= t('nlcc') %></h2>
            <h5 class="uppercase mb32 mt64 nlcc-sub-title"><%= t('connect') %></h5>
            <div class="text-center">
              <a class="btn btn-white btn-lg mb32 mt24 inner-link" href="#connect">加入一個適合你的小組</a><br><br><br><br><br><br>
              
              <!--<ul class="list-inline social-list mb40 mt64">
                <li>
                  <a href="#">
                    <i class="ti-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-soundcloud"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-vimeo-alt"></i>
                  </a>
                </li>
              </ul>-->
              <div class="text-center hidden-xs mb0" style='height:50px;'>
                <a class='inner-link' href='#whoweare'><div class="mouse"><span></span></div></a>
                <!--<a class='inner-link one-page-arrow' href='#whoweare'><i class="icon-angle-down infinite animated fadeInDown"></i></a>-->
              </div>
            </div>
            
            
          </div>
          
            <!--<div class="modal-container mb0">
                <div class="play-button btn-modal inline large mt-xs-0"></div>
                <div class="foundry_modal no-bg">
                    <iframe data-provider="vimeo" data-video-id="25737856" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>-->
            <!--end of modal video-->
          </div>
        
      </div>
    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.natecheng.me/uploads/library/attachment/65/dedication.jpg">
      </div>
      <div class="container v-align-transform" style='height: 387px;'>
        <div class="row">
          <div class="col-md-offset-1 col-md-10 text-center">
            <h1 class="mb40 mb-xs-16 large dedication_title" style='font-weight:300;'>新生命獻堂慶典</h1>
            <!--<h3 class="uppercase mb16" style=''>A Celebration of Dream Come True</h3>-->
            <p class="lead mb40 large mt24 dedication_desc" style=''>
              新生命「歡慶奇蹟」獻堂典禮謹訂於六月三日（週六）上午十點（九點半開始入場）舊朋友、新朋友，您都是我們最珍貴的朋友！
請預留時間，和我們一起歡慶美好奇蹟的誕生見證這美夢成真的時刻！
            </p>
            <a class="btn btn-white btn-lg inner-link" href="http://nlccrsvp.com" target='_blank'>Dedication RSVP</a>
            <p class='dedication_slogan'>Church Dedication</p>
            <div class="modal-container dedication_play">
                <div class="play-button btn-modal inline large mt-xs-0 dedication-play-button"></div>
                <div class="foundry_modal no-bg">
                    <iframe data-provider="youtube" data-video-id="1PWnjfORa1o" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.natecheng.me/uploads/library/attachment/68/equip123-bg.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb8 large uppercase equip-title jf-handyblack-w6">2017 R.E.A.L. 裝備課程</h2>
            <h2 class="mb64 large uppercase equip-title jf-handyblack-w6 mt0">讓屬靈生命成為真實的經驗</h2>
            <p class='book-joel'>The Book of Joel <span class='temp-joel-title'>浩劫餘生</span></p>
            <p class='title-joel'>約珥書</p>
            
            <p class='time-joel'>4/30 9:50AM-10:50AM @ M1</p>
            <p class='desc-joel'>一起來認識這位透視末後大災難的先知</p>
          </div>
        
        </div>
      </div>
    </li>
    
  </ul>
</section>