<section class="cover fullscreen image-slider slider-all-controls controls-inside slider-arrow-controls parallax">
  
  <ul class="slides">
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image lazy" src="//files.nlccoc.org/uploads/library/attachment/283/bg2-dd4b16c5a4fa2dcdab70242cde2c1b65f850d9b31ba71cc77220aaa57e0744a3.jpg" />
      </div>
      <div class="container v-align-transform" style='height: 387px;'>
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb16 large uppercase banner-title nlcc-title"><%= t('nlcc') %></h2>
            <h5 class="uppercase mb32 mt64 nlcc-sub-title"><%= t('connect') %></h5>
            <div class="text-center modal-container">
              <a class="btn btn-white btn-lg mb32 mt24" href="<%= @newsletter.path %>">本週最新週報</a>
              <a class="btn btn-white btn-lg mb32 mt24 inner-link" href="#connect">加入一個適合你的小組</a> 
              <a class="btn btn-white btn-lg mb32 mt24 btn-modal inline" href="#">新生命靈糧堂走過的路<i class="fa fa-play" style='margin-left: 10px'></i></a> 
              
              <div class="foundry_modal no-bg" style='width: 50%;height: 60%;'>
                <iframe data-provider="youtube" data-video-id="3UF2tYdK_Vk" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
              </div>
              <br><br><br><br><br><br>

              <!--<ul class="list-inline social-list mb40 mt64">
                <li>
                  <a href="#">
                    <i class="ti-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-soundcloud"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-vimeo-alt"></i>
                  </a>
                </li>
              </ul>-->
              <div class="text-center hidden-xs mb0" style='height:50px;'>
                <a class='inner-link' href='#whoweare'><div class="mouse"><span></span></div></a>
                <!--<a class='inner-link one-page-arrow' href='#whoweare'><i class="icon-angle-down infinite animated fadeInDown"></i></a>-->
              </div>
            </div>
            
            
          </div>
          
            <!--<div class="modal-container mb0">
                <div class="play-button btn-modal inline large mt-xs-0"></div>
                <div class="foundry_modal no-bg">
                    <iframe data-provider="vimeo" data-video-id="25737856" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>-->
            <!--end of modal video-->
        </div>
        
      </div>
    </li>
    <li class="image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/287/youth_bg.jpg" />
      </div>
      <div class="container v-align-transform">
        <div class="row">
            <img class='youth-title' src='//files.nlccoc.org/uploads/library/attachment/291/mario-9.png' />
            <img class='youth-present' src='//files.nlccoc.org/uploads/library/attachment/290/youth-presents.png' />
            <img class='youth-figure' src='//files.nlccoc.org/uploads/library/attachment/289/figures-8.png' />
            <img class='youth-info' src='//files.nlccoc.org/uploads/library/attachment/292/youth-info.png' />
        </div>
        
      </div>
    </li>  
  </ul>
</section>