<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <h4 class="uppercase">聯絡我們</h4>
        <p>
          This is the church of the living God, the pillar and foundation of truth.
        <hr>
        <p>
          1891 Alton Pkwy #C
          <br> Irvine, CA 92606
          <br> P.O Box 3184
        </p>
        <hr>
        <p>
          <strong>E:</strong> info@nlccoc.org
          <br>
          <strong>P:</strong> 949.955.9077
          <br>
          <strong>F:</strong> 949.955.9078 
          <br>
        </p>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
          <input type="text" class="validate-required" name="name" placeholder="Your Name">
          <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address">
          <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>