<section class="">
  <div class="container sect-newsletter pb48">
      <div class="row mb64 mb-xs-24">
          <div class="col-sm-12 text-center">
              <h2 class="uppercase color-primary">訂閱電子報</h2>
              <p class="lead">
                  您想要隨時更新新生命靈糧堂最新資訊嗎? 我們會不定時更新最新的資訊，主日活動，特惠，以及陳牧師神的話語分享喔!
              </p>
          </div>
      </div>
      <!--end of row-->
      <div class="row mb24">
          <div class="col-sm-6 col-sm-offset-3">
              <form action='https://nlccoc.us16.list-manage.com/subscribe/post' class="halves" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
                  <input type="hidden" name="u" value="3c4ffae135aee88f4c9f31631">
                  <input type="hidden" name="id" value="cbac5a3cea">
                  <input type="email" class="mb0 validate-email validate-required signup-email-field" placeholder="電子信箱" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
                  <button type="submit" class="image-bg btn btn-lg btn-filled">訂閱</button>
                  
              </form>
          </div>
      </div>
      <!--end of row-->
      <div class="row">
          <div class="col-sm-12 text-center">
              <p class="fade-half">* 請放心留下您的 mail，我們絕對會善盡保密之責。</p>
          </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</section>