<section>
  <div class='container text-center'>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3 class="uppercase mb40 mb-xs-24"><%= t('serviceinfo') %></h3>
      </div>
    </div>
    <div class='row'>
      <p class='lead'>
        <%= t('date.day_names')[0] %> 11:00 AM <span class='main-color'>|</span> <i class="ti-location-pin"></i> New Life Christian Center
      </p>
      <p class='lead mb64'>
        714.486.3535 <span class='main-color'>|</span> <a style='font-weight: 300;' target='_blank' href='https://www.google.com/maps/place/1518+Brookhollow+Dr,+Santa+Ana,+CA+92705/@33.7146284,-117.8509987,17z/data=!3m1!4b1!4m5!3m4!1s0x80dcd94b61ca5bbd:0x613f2c6e0eef251d!8m2!3d33.714624!4d-117.84881'>1518 Brookhollow Drive, Santa Ana, CA 92705 <span><i class="ti-location-pin"></i> </a><span class='click-map'><i class='ti-arrow-left'></i> Click for Map View</span></span>
      </p>
      
      <ul class='list-inline social-list mb40 list-inline-1'>
        <li>
          <a href="https://www.facebook.com/NLCCOC/" class="social-icon si-colored si-facebook" target="_blank">
          	<i class="icon-facebook" style='line-height: 38px;'></i>
          	<i class="icon-facebook" style='line-height: 38px;'></i>
          </a> 
        </li>
        <!--<li>
          <a href="#" class="social-icon si-colored si-twitter">
          	<i class="icon-twitter" style='line-height: 38px;'></i>
          	<i class="icon-twitter" style='line-height: 38px;'></i>
          </a>
        </li>
        <li>
          <a href="#" class="social-icon si-colored si-linkedin">
          	<i class="icon-linkedin" style='line-height: 38px;'></i>
          	<i class="icon-linkedin" style='line-height: 38px;'></i>
          </a>
        </li>-->
        <li>
          <a href="https://www.youtube.com/channel/UCEp9Vc8vlj7SjQTbQEDnmPw" class="social-icon si-colored si-youtube">
          	<i class="icon-youtube" style='line-height: 38px;'></i>
          	<i class="icon-youtube" style='line-height: 38px;'></i>
          </a>
        </li>
        <!--<li>
          <a href="#" class="social-icon si-colored si-pinterest">
          	<i class="icon-pinterest" style='line-height: 38px;'></i>
          	<i class="icon-pinterest" style='line-height: 38px;'></i>
          </a>
        </li>-->
        <li>
          <a href="mailto: info@nlccoc.org" class="social-icon si-colored si-email3">
          	<i class="icon-email3" style='line-height: 38px;'></i>
          	<i class="icon-email3" style='line-height: 38px;'></i>
          </a>
        </li>
        <li>
          <a href="//line.me/ti/p/%40rzz7662b" class="social-icon si-colored si-line" target="_blank">
          	<i class="iconmoon-line" style='line-height: 38px;'></i>
          	<i class="iconmoon-line" style='line-height: 38px;'></i>
          </a> 
        </li>
        <li>
          <a href="/wechatqrcode" class="social-icon si-colored si-wechat" target="_blank">
          	<i class="iconmoon-wechat" style='line-height: 38px;'></i>
          	<i class="iconmoon-wechat" style='line-height: 38px;'></i>
          </a> 
        </li>
      </ul>
    </div>
  </div>
</section>