<div class='col-md-2'>
  <div class="load-wrapp">
        <!-- Loading 4 don't work on firefox because of the border-radius and the "dashed" style. -->
        <div class="load-4">
            <div class="ring-1"></div>
        </div>
    </div>
</div>