<li class='library-item'>
  <a href="#">
    <div class="load-wrapp">
      <!-- Loading 4 don't work on firefox because of the border-radius and the "dashed" style. -->
      <div class="load-4">
        <div class="ring-1"></div>
      </div>
    </div>
  </a>
</li>

