<style>

a {
  text-decoration: none !important;
}

p, li, a{
  font-size: 14px;
}

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

/* ONE */

.p1 a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
}

.p1 a.is-active{
  background-color: #2ecc71;
  border-radius: 100% !important;
  color: #fff;
}

.p9 a {
  width: 30px;
  height: 30px;
  line-height: 24px;
  padding: 0;
  text-align: center;
  margin: auto 5px;
}

.p9 a.is-active{
  border: 3px solid #2ecc71;
  border-radius: 100% !important;
}
</style>
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="index.html">Home</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>All Audio</span>
    </li>
  </ul>
</div>
<!-- END PAGE BAR -->

<h1 class="page-title"> All Audio
  <!--<small>All Events</small>-->
</h1>

<div class='row'>
  <div class='col-md-12'>
    <a class="btn green" ui-sref='audio-new'>New Audio</a>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class="pagination p1" ng-show='total_pages > 1'>
      <ul>
        <a href="#" ng-show='current_page != 1' ><li><</li></a>
        <a href='#' ui-sref='media-audio({page: i})' ng-class="{'is-active': i==current_page}" ng-repeat="i in []| range: total_pages:1">{{i}}</a>
        <a href="#" ng-show='current_page != total_pages' ><li>></li></a>
      </ul>
    </div>
    <table id="maudios" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width:10%">Name</th>
          <th style="width:30%" >Desc</th>
          <th style="width:30%" >Path</th>
          <th style="width:10%" >Date</th>
          <th style="width:10%">Featured</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='maudio in maudios'>
          <td style="width:10%"> {{maudio.title}}</td>
          <td style="width:30%"> {{maudio.desc}}</td>
          <td style="width:30%"> {{maudio.path}}</td>
          <td style="width:10%"> {{maudio.date}}</td>
          <td style="width:10%"> {{maudio.featured}}</td>
          <td style="width:10%">
            <span class="text-muted"> <a  ui-sref='maudio-edit({maudioID: maudio.id})' href="#">
              <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </span>  
            <span class="text-muted"> 
              <a ng-click='deleteMaudio(maudio);' href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>