<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Media</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="fileupload">Photo</a>
        </li>
    </ul>
    <div class="page-toolbar">
      <div class="btn-group pull-right">
        <a ui-sref='library-upload' class="btn btn-sm btn-default">Upload files</a>
        
      </div>
    </div>
</div>
<h3 class="page-title"> Photo
    <small>Photo</small>
</h3>
<!-- END PAGE HEADER-->