<h1 class="page-title"> Video
  <small> {{function=='new'? 'New': 'Edit'}}</small> 
</h1>

{{mvideo}}
<div class="row">
  <div class="col-md-12">
    
    <form>
      <div class='form-body'>
        <div class="form-group">  
          <label>Title</label>
          <div class="input-icon input-icon-lg">
            <i class="fa fa-bell-o"></i>
            <input type="text" class="form-control input" placeholder="Title" ng-model='mvideo.title'></div>
        </div>
        
        <div class="form-group">  
          <label>Path</label>
          <div class="input-icon input-icon-lg">
            <i class="fa fa-bell-o"></i>
            <input type="text" class="form-control input" placeholder="Path" ng-model='mvideo.path'></div>
        </div>
        <label for="event-location">Location</label>
        <select name="mvideo[location]" id="mvideo[location]" ng-model='mvideo.locat' ng-options='option.name for option in locations'>
        </select>
        <div class="form-group">
          <label>Date</label>
          <input class="form-control form-control-inline input date-picker" datetimepicker format='DD/MM/YYYY' ng-model='mvideo.date' size="16" type="text" value="" />
          <span class="help-block"> Select date </span>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="3" ng-model='mvideo.desc'></textarea>
        </div>
        <!--<div class="form-group">
          <label>Speaker</label>
          <input type="text" class="form-control input" placeholder="Speaker" ng-model='maudio.speaker'></div>
        </div>-->
        <div class="form-actions right" style='z-index:9999;'>
          <button type="button" class="btn default">Cancel</button>
          <button type="submit" class="btn green" ng-click="submit(function)"> {{function=='new'? 'Create': 'Update'}}</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class='row'>{{mvideo}}</div>