<style>
.book-buttons.fixed {
  top: 70px !important;
}

.btn-fire.on {
    background: #f2784b !important;
    color: #fff !important;
}

#result-spinner {
  margin-top:50px;
  margin-bottom: 380px;
  margin-left:0;
  margin-right:0;
  display: block;
}

.highlight {
    background-color: yellow;
}

.circle-item.active{
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 3px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  background-color: #f2784b;
  border-radius:30px;
  padding: 2px;
  text-align: center;
  display: block;
  line-height: 24px;
  border: 1px solid #f2784b;
}

.circle-item {
  font-family: 'Roboto', sans-serif;
  color: #f2784b;
  margin-top: 3px;
  font-size: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius:30px;
  padding: 2px;
  text-align: center;
  display: block;
  line-height: 30px;
  border: 1px solid #f2784b;
}


</style>
<section ng-controller='bibleSearchCtrl'>
  <div class="row">
    <div class='col-md-8 col-md-offset-2 text-center'>
      <h3 class="large" style=''>聖經經文查詢 Beta</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <%= form_tag(bible_search_path, method: "post") do %>
        <% if @keyword.nil? %>
          <input name='keyword' type="text" ng-model='search.keyword' placeholder="輸入關鍵字" style='margin-top:30px;' onfocus="$(this).removeClass('error')"/>
        <% else %>
          <input name='keyword' id='keyword' ng-model='search.keyword' type="text" placeholder="Type Here" style='margin-top:30px;' onfocus="$(this).removeClass('error')"//>
        <% end %>
        <span class='col-md-2 col-sm-9 col-xs-6'>
          <div class="radio-option checked">
              <div class="inner"></div>
              <input type="radio" ng-model='search.version' name="version" value="cnvt">
          </div>
          <span>新譯本</span>
        </span>
        <span class='col-md-2 col-sm-9 col-xs-6'>
          <div class="radio-option">
              <div class="inner"></div>
              <input type="radio" ng-model='search.version' name='version' value="cunpts">
          </div>
          <span>新標點和合本</span>
        </span>
        <span class='col-md-2 col-sm-9 col-xs-6'>
          <div class="radio-option">
              <div class="inner"></div>
              <input type="radio" ng-model='search.version' name='version' value="rcuvts">
          </div>
          <span>和合本修訂版</span>
        </span>
        <span class='col-md-3 col-sm-9 col-xs-12'>
          <div class="radio-option">
              <div class="inner"></div>
              <input type="radio" ng-model='search.version' name='version' value="kjv">
          </div>
          <span>KJV (King James Version)</span>
        </span>
        <span class='col-md-3 col-sm-9 col-xs-12'>
          <div class="radio-option">
              <div class="inner"></div>
              <input type="radio" ng-model='search.version' name='version' value="niv">
          </div>
          <span>NIV (New Internetional Version)</span>
        </span>
        <!--<span>
          <div class="radio-option">
              <div class="inner"></div>
              <input type="radio" name="radio" value="radio1">
          </div>
          <span>Maybe</span>
        </span>-->
        <input type="submit" value="搜尋 Search" prevent-submit ng-click='submit($event); ' />
      <% end %>
    </div>
  </div>
  
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <div class='text-center'>
        <div id="result-spinner" ng-show='submitting'></div>
      </div>
      <div class='books result'>
        <div ng-if='results.book_count==0'>
          對不起，找到 {{results.book_count}} 筆資料
        </div>
        <div ng-if="results.book_count > 0">
          找到 {{results.verse_count}} 筆資料
          <div class='book-section' id='{{result.book.osis}}' ng-repeat='result in results.results'>
            <div class='book-name'> {{result.book.name}} <sub>有 {{result.book.verse_count}} 則經文</sub></div>
            <div class='verse-section' ng-repeat='verse in result.book.verses'>
              <span class='verse-number'>{{verse.number}}</span> &nbsp;&nbsp;{{verse.unformatted}}
            </div>
          </div>
        </div>
      </div>
      <% if !@results.nil? then %>
        <% @results.each do |result| %>
          <div><%= result.inspect %></div>
          <br><br><br>
        <% end %>
      <% end %>
    </div>
    <div class='col-md-2'>
      <div class='book-buttons col-md-2 hidden-xs hidden-sm' style='position: fixed;'>
        <a ng-repeat='result in results.results'  href="#{{result.book.osis}}" class="inner-link btn btn-sm btn-fire book-button" id="book-button">{{result.book.name}}</a>
          </div>
      <div class='book-buttons col-md-2 hidden-md hidden-lg' style='position: absolute;'>
        <a ng-repeat='result in results.results'  href="#{{result.book.osis}}" class="hidden-md hidden-lg inner-link circle-item" id="book-button">{{result.book.human_abbr}}</a>
      </div>
    </div>
  </div>
</section>

<script>
  nlccapp.directive('preventSubmit', function() {
    return {
        restrict: 'A',
        link: function(scope, elem, attrs) {
            if(attrs.ngClick || attrs.href === '' || attrs.href === '#'){
                elem.on('click', function(e){
                  e.preventDefault();
                });
            }
        }
   };
  });
  var search_submit = function(e) {
    event.preventDefault();
    
    var keyword = $('input[name=keyword]').val();
    if (keyword == '') {
      $('input[name=keyword]').addClass('error');
      $('input[name=keyword]').attr('placeholder', 'Please enter keyword')
      return;
    }
    //$('#result-spinner').fadeIn(1000);
    var version = $('input[name=version]:checked').val();
    var result_panel = $('.result');
  	result_panel.css('opacity', 0);
  	
  	
    $.ajax({
      url: '<%= bible_search_path %>'+'.json',
      type: 'POST',
      data: 'keyword='+ keyword + '&version=' + version,
      success: function(data) {
      	var html=''
      	
      	
      	if(data.verse_count == 0){
      	  html='對不起，找到 ' + data.verse_count + ' 筆資料';
      	}
      	else if(data.verse_count > 0){
      	  html += '找到 ' + data.verse_count + ' 筆資料';
        	$.each(data.results, function(index, result){
        	  html+='<div class=\'book-section\' id=\'' + result.book.osis + '\'><div class=\'book-name\'>'+ result.book.name + '</div>';
        	  //console.log(result);
        	  $.each(result.book.verses, function(index_verse, verse_result){
        	    html+='<div class=\'verse-section\'><span class=\'verse-number\'>' + verse_result.number + '</span> &nbsp;&nbsp;' + verse_result.unformatted +'</div>'
        	  })
        	  html += '</div>';
        	})
      	}
        //console.log(html);
        
        result_panel.html(html);
        $('#result-spinner').fadeOut(500);
        result_panel.css('opacity', 1);
        result_panel.highlight(keyword);
        
        
        
      },
      error: function(e) {
    	//called when there is an error
    	//console.log(e.message);
      }
    });
  }

  
</script>