.button-tabs .active .tab-title {
  background: #fc4f4f;
  color: #fff;
}

.button-tabs .active .tab-title:hover {
    background: #fc4f4f;
}

.button-tabs .tab-title {
  padding: 13px;
  display: inline-block;
  text-align: center;
  min-width: 150px;
  background: #f5f5f5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.button-tabs .active .tab-title {
    background: #fc4f4f;
    color: #fff;
}
.tabs.thirds .tab-title {
    width: 100%;
}
.button-tabs .tab-title {
  padding: 13px;
  display: inline-block;
  text-align: center;
  min-width: 150px;
  background: #f5f5f5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.btn-fire {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid #fc4f4f;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.btn-fire, .btn-fire:visited {
  color: #fc4f4f;
}

.btn-fire:hover {
  background: #fc4f4f;
  color: #fff;
}

#give .background-image-holder, .page-title-3 .background-image-holder {
  min-height: 240px;
  height: 240px !important;
  top: 0px !important;
}
#give {
  height: 240px;
}

.frontpage .tabbed-content {
  min-height: 900px;
}

/* Owl media*/


.ipost .entry-image img { border-radius: 0; }

.ipost .entry-title h3,
.ipost .entry-title h4 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.ipost .entry-title h4 { font-size: 15px; }

.ipost .entry-title h3 a,
.ipost .entry-title h4 a { color: #333; }

.ipost .entry-title h3 a:hover,
.ipost .entry-title h4 a:hover { color: $mainColor; }

.ipost .entry-meta { margin-right: -10px; }

.ipost .entry-meta li {
	font-size: 13px;
	margin-right: 10px;
}

.ipost .entry-content { margin-top: 20px; }

.ipost .entry-content p { margin-bottom: 0; }

.entry-meta {
    margin: 10px -10px -15px 0;
    list-style: none;
}

.more-link {
	display: inline-block;
	border-bottom: 1px solid $mainColor;
	padding: 0 2px;
	font-family: 'Crete Round', serif;
	font-style: italic;
}

.more-link:hover { border-bottom-color: #555; }

.entry-meta li {
  float: left;
  font-size: 13px;
  line-height: 14px;
  margin: 0 10px 15px 0;
  color: #999;
  font-family: "ProximaBold", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.entry-meta li a {
  color: #999;
}

.table span {
  display: block;
  float:left;
  //width:100px;
  padding:.5em;
}

.table span.title {
  width: 200px;
}
.entry-meta li:before {
  content: '/';
  display: inline-block;
  margin-right: 10px;
  opacity: 0.5;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.entry-meta li:first-child:before {
  display: none;
}

.entry-image, .entry-image > a, .entry-image .slide a, .entry-image img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px !important;
  font-size: 14px !important;
  font-weight: 100 !important;
  letter-spacing: normal !important;
}
.entry-image {
  margin-bottom: 30px;
}

.bible {
  margin-left: 50px;
  color: $mainColor !important;
}


//Loader

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #fff;
}

#loader {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #3498db;
  
  //-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  //        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

  #loader:before {
    content: "";
    position: absolute;
    
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #e74c3c;
    
    //-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    //      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  
  #loader:after {
    content: "";
    position: absolute;
    
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #f9c922;
    
    //-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    //      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  @-webkit-keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes spin {
      0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }
  
#spinner {
  position: relative;
  top: 45%;
  left: 47%;
  //margin: -100px 0 0 -100px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 2px 1px 0px $mainColor;
  -moz-animation: spin 0.7s linear infinite;
  -webkit-animation: spin 0.7s linear infinite;
  animation: spin 0.7s linear infinite;
  display: inline-block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.jf-active .loaded #loader, .jf-active .loader #spinner {
  opacity: 0;
}

.jf-active .loaded #loader-wrapper {
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

.zh {
  .banner-title {
    font-size: 48px;
    font-weight:500;
    margin-bottom: 40px;
  }
}

.daily-feed, .daily-feed h5, .daily-feed h4{
  color: #fff;
}

.daily-feed .title {
  color: #fff;
}

.rolcc p.lead {
  font-size: 28px;
}

.rolcc .post-snippet {
  font-size:16px;
  line-height: 28px;
}

.post-snippet b {
  border: 1px;
}

.team-title h4 {
  display: block;
  margin-bottom: 0;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.team-title span {
  display: block;
  color: $mainColor;
  font-weight: 400;
  font-family: "xingothic-tc", "xingothic-sc", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-style: italic;
  font-size: 15px;
  margin-top: 5px;
}

.team:not(.team-list) .social-icon {
    display: inline-block;
    float: none;
    margin-left: 6px;
    margin-right: 6px;
}

.team .team-desc > .social-icon {
    margin-top: 20px;
}

.about section ul li .value {
  color: $mainColor;
}

.about ul li i.ti-heart:before {
  color: $mainColor;
}

.btn i {
  margin-right:0px !important;
}

.btn-circle {
  border-radius: 100%;
}
.btn-thin {
  border: 1px solid $mainColor;;
}

section.last {
  padding-bottom: 0px;
}

.verse_highlight {
  color: $mainColor !important;
}