.button-tabs .active .tab-title {
  background: $mainColor;
  color: #fff;
}

.button-tabs .active .tab-title:hover {
    background: $mainColor;
}

.button-tabs .tab-title {
  padding: 13px;
  display: inline-block;
  text-align: center;
  min-width: 150px;
  background: #f5f5f5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.button-tabs .active .tab-title {
    background: $mainColor;
    color: #fff;
}
.tabs.thirds .tab-title {
    width: 100%;
}
.button-tabs .tab-title {
  padding: 13px;
  display: inline-block;
  text-align: center;
  min-width: 150px;
  background: #f5f5f5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.btn-fire {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid $mainColor;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.btn-fire, .btn-fire:visited {
  color: $mainColor;
}

.btn-fire:hover {
  background: $mainColor;
  color: #fff;
}

#give .background-image-holder, .page-title-3 .background-image-holder {
  min-height: 240px;
  height: 240px !important;
  top: 0px !important;
}
#give {
  height: 240px;
}

.frontpage .tabbed-content {
  min-height: 900px;
}

/* Owl media*/


.ipost .entry-image img { border-radius: 0; }

.ipost .entry-title h3,
.ipost .entry-title h4 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.ipost .entry-title h4 { font-size: 15px; }

.ipost .entry-title h3 a,
.ipost .entry-title h4 a { color: #333; }

.ipost .entry-title h3 a:hover,
.ipost .entry-title h4 a:hover { color: $mainColor; }

.ipost .entry-meta { margin-right: -10px; }

.ipost .entry-meta li {
	font-size: 13px;
	margin-right: 10px;
}

.ipost .entry-content { margin-top: 20px; }

.ipost .entry-content p { margin-bottom: 0; }

.entry-meta {
    margin: 10px -10px -15px 0;
    list-style: none;
}

.more-link {
	display: inline-block;
	border-bottom: 1px solid $mainColor;
	padding: 0 2px;
	font-family: 'Crete Round', serif;
	font-style: italic;
}

.more-link:hover { border-bottom-color: #555; }

.entry-meta li {
  float: left;
  font-size: 13px;
  line-height: 14px;
  margin: 0 10px 15px 0;
  color: #999;
  font-family: "ProximaBold", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.entry-meta li a {
  color: #999;
}

.table span {
  display: block;
  float:left;
  //width:100px;
  padding:.5em;
}

.table span.title {
  width: 200px;
}
.entry-meta li:before {
  content: '/';
  display: inline-block;
  margin-right: 10px;
  opacity: 0.5;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.entry-meta li:first-child:before {
  display: none;
}

.entry-image, .entry-image > a, .entry-image .slide a, .entry-image img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px !important;
  font-size: 14px !important;
  font-weight: 100 !important;
  letter-spacing: normal !important;
}
.entry-image {
  margin-bottom: 30px;
}

.bible {
  margin-left: 50px;
  color: $mainColor !important;
}


//Loader

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #fff;
}

#loader {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #3498db;
  
  //-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  //        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

  #loader:before {
    content: "";
    position: absolute;
    
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #e74c3c;
    
    //-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    //      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  
  #loader:after {
    content: "";
    position: absolute;
    
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #f9c922;
    
    //-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    //      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  @-webkit-keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes spin {
      0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }
  
#spinner {
  position: relative;
  top: 45%;
  left: 47%;
  //margin: -100px 0 0 -100px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 2px 1px 0px $mainColor;
  -moz-animation: spin 0.7s linear infinite;
  -webkit-animation: spin 0.7s linear infinite;
  animation: spin 0.7s linear infinite;
  display: inline-block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.jf-active .loaded #loader, .jf-active .loader #spinner {
  opacity: 0;
}

.jf-active .loaded #loader-wrapper {
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

.zh {
  .banner-title {
    font-size: 48px;
    font-weight:500;
    margin-bottom: 40px;
  }
}

.daily-feed, .daily-feed h5, .daily-feed h4{
  color: #fff;
}

.daily-feed .title {
  color: #fff;
}

.rolcc p.lead {
  font-size: 28px;
}

.rolcc .post-snippet {
  font-size:16px;
  line-height: 28px;
}

.post-snippet b {
  border: 1px;
}

.team-title h4 {
  display: block;
  margin-bottom: 0;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.team-title span {
  display: block;
  color: $mainColor;
  font-weight: 400;
  font-family: "xingothic-tc", "xingothic-sc", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-style: italic;
  font-size: 15px;
  margin-top: 5px;
}

.team:not(.team-list) .social-icon {
    display: inline-block;
    float: none;
    margin-left: 6px;
    margin-right: 6px;
}

.team .team-desc > .social-icon {
    margin-top: 20px;
}

.about section ul li .value {
  color: $mainColor;
}

.about ul li i.ti-heart:before {
  color: $mainColor;
}

.btn i {
  margin-right:0px !important;
}

.btn-circle {
  border-radius: 100%;
}
.btn-thin {
  border: 1px solid $mainColor;;
}

section.last {
  padding-bottom: 0px;
  min-height:600px;
}

footer.last {
  padding-bottom: 0px;
}

.verse_highlight {
  color: $mainColor !important;
}


.entry {
  position: relative;
  margin: 0 0 50px;
  padding: 0 0 50px;
  border-bottom: 2px solid #F5F5F5;
}
/* Blog - Timeline
-----------------------------------------------------------------*/

.timeline-border {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -71px;
	width: 0;
	border-left: 1px dashed #CCC;
	height: 100%;
}

.post-timeline { margin-right: -140px !important; }

.post-timeline .entry {
	width: 500px !important;
	margin-right: 140px !important;
}

.entry.entry-date-section {
	width: 100% !important;
	margin: 50px -70px 80px;
	padding: 0;
	border: 0;
	text-align: center;
}

.entry.entry-date-section span {
	display: inline-block;
	padding: 10px 15px;
	background-color: #FFF;
	border: 2px solid #EEE;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

.post-timeline .entry-timeline {
	display: none;
	position: absolute;
	border: 2px solid #CCC;
	background-color: #FFF;
	padding-top: 0;
	text-indent: -9999px;
	top: 40px;
	left: auto;
	right: -76px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	font-size: 26px;
	font-weight: bold;
	color: #AAA;
	text-align: center;
	line-height: 1;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.post-timeline .entry-timeline div.timeline-divider {
	position: absolute;
	top: 4px;
	left: -58px;
	width: 50px;
	height: 0;
	border-top: 1px dashed #CCC;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.post-timeline .alt .entry-timeline {
	right: auto;
	left: -77px;
}

.post-timeline .alt .entry-timeline div.timeline-divider {
	left: auto;
	right: -58px;
}

.post-timeline .entry-timeline span {
	display: block;
	margin-top: 3px;
	font-size: 13px;
	font-weight: normal;
}

.post-timeline .entry:hover .entry-timeline,
.post-timeline .entry:hover .timeline-divider {
	//border-color: #1ABC9C;
	//color: #1ABC9C;
	border-color: $mainColor;
	color: $mainColor;
}
.post-timeline .entry:hover .panel-default {
  border-color: $mainColor;
}

.post-timeline .entry:hover .panel-body {
  color:#000;
}

/* Blog - Timeline - Sidebar
-----------------------------------------------------------------*/

.postcontent .timeline-border {
	left: 32px;
	margin-left: 0;
}

.postcontent .post-timeline {
	padding-left: 100px;
	margin-right: 0 !important;
}

.postcontent .post-timeline .entry {
	width: 100% !important;
	margin-right: 140px !important;
}

.postcontent .post-timeline .entry-timeline {
	display: block;
	border: 3px solid #CCC;
	background-color: #FFF;
	padding-top: 10px;
	text-indent: 0;
	top: 20px;
	left: -100px;
	right: auto;
	width: 64px;
	height: 64px;
	font-size: 24px;
}

.postcontent .post-timeline .entry-timeline div.timeline-divider {
	top: 29px;
	left: 64px;
	width: 32px;
}


/* Individual Post
-----------------------------------------------------------------*/

.ipost .entry-image img { border-radius: 0; }

.ipost .entry-title h3,
.ipost .entry-title h4 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.ipost .entry-title h4 { font-size: 15px; }

.ipost .entry-title h3 a,
.ipost .entry-title h4 a { color: #333; }

.ipost .entry-title h3 a:hover,
.ipost .entry-title h4 a:hover { 
  //color: #1ABC9C; 
  color: $mainColor;}

.ipost .entry-meta { margin-right: -10px; }

.ipost .entry-meta li {
	font-size: 13px;
	margin-right: 10px;
}

.ipost .entry-content { margin-top: 20px; }

.ipost .entry-content p { margin-bottom: 0; }


.more-link {
	display: inline-block;
	border-bottom: 1px solid $mainColor;
	//border-bottom: 1px solid #1ABC9C;
	padding: 0 2px;
	font-family: 'Crete Round', serif;
	font-style: italic;
}

.more-link:hover { border-bottom-color: #555; }

#content {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
}

.content-wrap {
  position: relative;
  padding: 0;
}
.postcontent, .sidebar {
    margin-right: 40px;
}
.postcontent, .sidebar, .col_full, .col_half, .col_one_third, .col_two_third, .col_three_fourth, .col_one_fourth, .col_one_fifth, .col_two_fifth, .col_three_fifth, .col_four_fifth, .col_one_sixth, .col_five_sixth {
    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    float: left;
}
.postcontent {
    width: 860px;
}

.quick-nav {
  background: transparent !important;
  position: fixed;
  z-index: 19;
  top: 50%;
  right: 10px;
  margin-top: -230px;
  pointer-events: none; }
  .quick-nav .quick-nav-bg {
    /* this is the stretching navigation background */
    position: absolute;
    z-index: 10102;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px !important;
    //background: #36C6D3;
    background: $mainColor;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    webkit-transition: height .2s, box-shadow .2s;
    -moz-transition: height .2s, box-shadow .2s;
    -ms-transition: height .2s, box-shadow .2s;
    -o-transition: height .2s, box-shadow .2s;
    transition: height .2s, box-shadow .2s; }
  .quick-nav.nav-is-visible {
    pointer-events: auto; }
  .quick-nav.nav-is-visible .quick-nav-bg {
    height: 100%;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); }

.quick-nav-trigger {
  position: absolute;
  z-index: 10103;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50% !important;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  pointer-events: auto; }
  .quick-nav-trigger span,
  .quick-nav-trigger span::after,
  .quick-nav-trigger span::before {
    /* this is the hamburger icon */
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #ffffff; }
  .quick-nav-trigger span {
    /* middle line of the hamburger icon */
    webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .quick-nav-trigger span::after,
  .quick-nav-trigger span::before {
    /* top and bottom lines of the hamburger icon */
    content: '';
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s; }
  .quick-nav-trigger span::before {
    webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px); }
  .quick-nav-trigger span::after {
    webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px); }
  .no-touch .quick-nav-trigger:hover ~ .quick-nav-bg {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); }
  .nav-is-visible .quick-nav-trigger span {
    background-color: transparent; }
  .nav-is-visible .quick-nav-trigger span::before {
    webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .nav-is-visible .quick-nav-trigger span::after {
    webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.quick-nav ul {
  position: relative;
  z-index: 10103;
  padding: 60px 0 0;
  visibility: hidden;
  webkit-transition: visibility 0.3s;
  -moz-transition: visibility 0.3s;
  -ms-transition: visibility 0.3s;
  -o-transition: visibility 0.3s;
  transition: visibility 0.3s;
  text-align: right;
  list-style: none; }
  .quick-nav ul > li a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 calc(1em + 60px) 0 1em;
    font-size: 1.4rem;
    webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    .quick-nav ul > li a:hover {
      text-decoration: none; }
      .quick-nav ul > li a:hover > span {
        text-decoration: none; }
    .quick-nav ul > li a > i {
      /* navigation item icons */
      content: '';
      position: absolute;
      height: 16px;
      width: 16px;
      font-size: 18px;
      right: 24px;
      top: 16px;
      color: #ebebeb; }
    .quick-nav ul > li a::before {
      /* line visible next to the active navigation item */
      content: '';
      position: absolute;
      width: 3px;
      height: 16px;
      top: 50%;
      right: 60px;
      webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
      -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
      -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
      -o-transform: translateX(3px) translateY(-50%) scaleY(0);
      transform: translateX(3px) translateY(-50%) scaleY(0);
      background-color: #FFFFFF; }
  .quick-nav ul > li span {
    /* navigation item labels */
    color: #ebebeb;
    font-weight: 400;
    display: block;
    opacity: 0;
    webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px); }
  .quick-nav ul > li:last-child {
    padding-bottom: 10px; }

.quick-nav.nav-is-visible ul {
  visibility: visible; }
  .quick-nav.nav-is-visible ul a::after {
    /* navigation item icons */
    webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-animation: scaleIn 0.15s backwards;
    -o-animation: scaleIn 0.15s backwards;
    animation: scaleIn 0.15s backwards;
    webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  .quick-nav.nav-is-visible ul a:hover::after {
    opacity: 1; }
  .quick-nav.nav-is-visible ul a:hover::before {
    webkit-transform: translateX(3px) translateY(-50%) scaleY(2);
    -moz-transform: translateX(3px) translateY(-50%) scaleY(2);
    -ms-transform: translateX(3px) translateY(-50%) scaleY(2);
    -o-transform: translateX(3px) translateY(-50%) scaleY(2);
    transform: translateX(3px) translateY(-50%) scaleY(2);
    webkit-transition: transform 0.15s 0.3s;
    -moz-transition: transform 0.15s 0.3s;
    -ms-transition: transform 0.15s 0.3s;
    -o-transition: transform 0.15s 0.3s;
    transition: transform 0.15s 0.3s; }
  .quick-nav.nav-is-visible ul a:hover > span {
    color: white; }
  .quick-nav.nav-is-visible ul a:hover > i {
    color: #fafafa; }
  .quick-nav.nav-is-visible ul span {
    opacity: 1;
    webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: slideIn 0.15s backwards;
    -o-animation: slideIn 0.15s backwards;
    animation: slideIn 0.15s backwards;
    webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s; }
  .no-touch .quick-nav.nav-is-visible ul a:hover::after {
    opacity: 1; }
  .no-touch .quick-nav.nav-is-visible ul a:hover span {
    webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px); }

.quick-nav-overlay {
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 18;
  background: transparent; }

.quick-nav.nav-is-visible + .quick-nav-overlay {
  background: rgba(0, 0, 0, 0.8);
  display: block;
  -webkit-transition: background .7s ease-out;
  -moz-transition: background .7s ease-out;
  -o-transition: background .7s ease-out;
  transition: background .7s ease-out; }

@media (max-width: 991px) {
  /* 991px */
  .quick-nav {
    top: 120px;
    margin-top: 0; } }

[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
  display: inline-block;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
}

.divider {
  width: 78px;
  height: 4px;
  //background: #6cbede;
  background: $mainColor;
  margin: 10px auto 5px!important;
  outline: 0;
  border: 0;
}

.event-title {
  position: relative!important;
  left: auto!important;
  bottom: auto!important;
  color: #393939!important;
  text-align: center!important;
  padding: 20px 0 0 0!important;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  //font-weight: 300;
  text-transform: uppercase;
}

.event-desc {
  font-weight: 500!important;
  text-transform: uppercase!important;
  color: #393939!important;
}

.entry-date{
  position: absolute;
  top: 15px;
  left: 30px;
  background-color: rgba(0,0,0,0.7);
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  width: 60px;
  height: 64px;
  text-align: center;
  padding-top: 7px;
  font-size: 26px;
  line-height: 1;
}
.entry-date span {
    display: block;
    font-size: 15px;
    margin-top: 5px;
}
.swiper-container {
  width: 80%;
}

.swiper-button-prev, .swiper-button-next {
    width: 79px;
    height: 84px;
    background: rgba(0,0,0,0.25);
    position: absolute;
    top: 50%;
    margin-top: -42px; 
    z-index: 2;
    cursor: pointer;
}
.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}
.swiper-button-prev > a.flex-prev:before
.swiper-button-next > a.flex-prev:before
{
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
}
.swiper-container a {
  opacity: 1;
  text-shadow: none;
  color: transparent;
  width: 24px;
  height: 24px;
  margin: -12px 0 0;

}

.swiper-button-prev > span, 
.swiper-button-next > span{
    width: 25px;
    height: 25px;
    display: block;
    margin: 19px 0 0 23px;
    font-size: 40px;
    color: #fff;
}

.fp_give_height {
  height:400px;
}

.entry-meta a .fa {
  margin-left:10px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #55ACEE;
}

.fa-google-plus {
  color: #dd4b39;
}

.sub:before, .sup:before {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
  
  color: $mainColor;
}

.sup:before {
  /* Move the superscripted text up */
  top: -0.5em;
}

.sub:before {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}

.sect-about {
  border-top: 1px solid $mainColor;
}

.main-color {
  color: $mainColor;
}

.social-icon i:last-child {
  color: #fff !important;
  line-height: 38px !important;
}
.list-inline-1 li {
  padding: 0 2px;
}

