//device-lg

.device-lg {
  .youth-title {
      max-width: 95%;
      position: absolute;
      top: -380px;
    }
    .youth-figure {
      max-width: 60%;
      position:absolute;
      top: -120px;
    }
    .youth-present {
      position:absolute;
      right: -50px;
      top: -370px;
      max-width: 45%;
    }
    .youth-info {
      position:absolute;
      right: -50px;
      top: -50px;
      max-width: 50%;
    }
}

//device-md

.device-md {
  #give .background-image-holder, .page-title-3 .background-image-holder {
    min-height: 240px;
    height: 240px !important;
    //top: 0px !important;
  }
  #give {
    height: 240px;
  }
  
  .tabbed-content {
    min-height: 00px;
  }
  
  .postcontent {
    width: 100%;
  }
  .posts {
    padding-left: 90px;
  }
  .rolcc_feed_sidebar {
    display: none;
  }
  
  .youth-title {
      max-width: 95%;
      position: absolute;
      top: -380px;
    }
    .youth-figure {
      max-width: 60%;
      position:absolute;
      top: -120px;
    }
    .youth-present {
      position:absolute;
      right: 0px;
      top: -370px;
      max-width: 45%;
    }
    .youth-info {
      position:absolute;
      right: 0px;
      top: -50px;
      max-width: 50%;
    }
}

//device-sm 

.device-sm {
  .youth-title {
    max-width: 95%;
    position: absolute;
    top: -320px;
  }
  .youth-figure {
    max-width: 60%;
    position:absolute;
    top: -130px;
  }
  .youth-present {
    position:absolute;
    right: 20px;
    top: -320px;
    max-width: 45%;
  }
  .youth-info {
    position:absolute;
    right: 20px;
    top: -50px;
    max-width: 45%;
  }
  
}
//device-xxs

.device-xxs {
  .masonry-item {
    height: 300px;
    overflow: hidden;
  }
  .ministries .masonry-item {
    height: 250px !important;
  }
  .ministries .masonry-item .title {
    bottom: 150px
  }
  .col-xs-12 {
    width: 100%;
  }
  .who .masonry-item .inner-title {
    bottom: 100px;
  }
  .who .masonry-item .thumb-title {
    bottom: 100px;
  }
  .who .masonry-item .title {
    bottom: 100px;
  }
  .postcontent {
    width: 100%;
  }
  .posts {
    padding-left: 90px;
  }
  .rolcc_feed_sidebar {
    display: none;
  }
  .nlcc-title {
    font-size:32px;
    padding-top:64px;
  }
  .nlcc-sub-title {
    font-size:22px;
  }
  .kids-webinar-title{
    font-size:24px;
  }
  
  .youth-title {
    max-width: 95%;
    position: absolute;
    top: 0px;
  }
  .youth-figure {
    max-width: 60%;
    position:absolute;
    top: 80px;
  }
  .youth-present {
    position:absolute;
    right: 20px;
    top: 0px;
    max-width: 45%;
  }
  .youth-info {
    position:absolute;
    right: 20px;
    top: 120px;
    max-width: 45%;
  }
}
//device-xs

.device-xs {
  .nlcc-title {
    font-size: 46px;
  }
  .col-xs-12 {
    width: 50%;
  }

  .connect .col-xs-12 {
    width: 33%;
  }

  .masonry-item {
    height: 250px;
    overflow: hidden;
  }
  .ministries .masonry-item {
    height: 250px !important;
  }
  .ministries .masonry-item .title {
    bottom: 150px
  }
  
  .who .masonry-item .inner-title {
    bottom: 100px;
  }
  .who .masonry-item .thumb-title {
    bottom: 100px;
  }
  .who .masonry-item .title {
    bottom: 100px;
  }
  
  .owl-carousel-media {
    padding: 10px 0;
  }
  .owl-dot {
    width: 32px;
    height: 32px;
  }
  .owl-dot span {
    width: 16px !important;
    height: 16px !important;
  }
  
  .owl-carousel-media {
    padding: 0 15px !important;
  }
  .postcontent {
    width: 100%;
  }
  .posts {
    padding-left: 90px;
  }
  .rolcc_feed_sidebar {
    display: none;
  }
  
  .youth-title {
    max-width: 80%;
    position: absolute;
    top: -50px;
    left: 30px;
  }
  .youth-figure {
    max-width: 50%;
    position:absolute;
    top: 50px;
    left: 30px;
  }
  .youth-present {
    position:absolute;
    right: 30px;
    top: -50px;
    max-width: 45%;
  }
  .youth-info {
    position:absolute;
    right: 50px;
    top: 70px;
    max-width: 40%;
  }
}