<h1 class="page-title"> User
</h1>

{{user.email}}
<div class="row">
  <div class="col-md-12">
    
    <form>
      <div class='form-body'>
        <div class="form-group">  
          <label></label>
        </div>
      </div>
    </form>
  </div>
</div>