<!DOCTYPE html>
<html ng-app='nlcc'>
<head>
  <title>New Life Christian Center 新生命靈糧堂</title>
  <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'login', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='scroll-assist' ng-class='responsiveClass' >
<%= yield %>
</body>
</html>
