<!DOCTYPE html>
<html ng-app='nlcc'>
<head>
  <title>share</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'share', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'share', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
